{# templates/bundles/TwigBundle/Exception/error401.html.twig #}
{% extends 'bundles/TwigBundle/Exception/error.html.twig' %}

{% block title %} Erreur {{ status_code }} : Une authentification est nécessaire pour accéder à la ressource.{% endblock %}

{% block body %}
    <div class="backgroundexception">
        <div id="errorexception">
            <div class="errorexception">
                <div class="errorexception-code">
                    <h1>Oups!</h1>
                    <h2>{{ status_code }} - {{ status_text }}</h2>
                </div>
                <a href="{{ path('app_home') }}">Aller à la page d'accueil</a>
            </div>
        </div>
    </div>
{% endblock %}