{% extends 'base.html.twig' %}

{% block title %}Foire aux Questions (FAQ)
{% endblock %}

{% block body %}
	<section class="container">
        <h2 class="h2frequentlyAskedQuestions">Foire aux Questions (FAQ)</h2>
        <div class="divParagraphsFrequentlyAskedQuestions">
            <dl>
                <dt>Est-ce que le site est gratuit ?</dt>
                <dd>Le site Échange Livres est un site entièrement gratuit, sans abonnement.</dd>

                <dt>Est-il obligatoire d'avoir un compte ?</dt>
                <dd>Oui, elle est nécessaire pour permettre d'effectuer des échanges de livres.</dd>

                <dt>Combien de livres, dois-je proposer à l'échange ?</dt>
                <dd>Un minimun de cinq livres mis a disposition doit être nécessaire pour permettre d'effectuer un échange. Il est recommandé de mettre le maximun de ses livres à disposition pour que le détenteur du livre souhaité ait le choix et puisse être interessé par vos livres mis à disposition</dd>

                <dt>Comment se déroule un échange ?</dt>
                <dd>Veuillez vous référer à la page suivante : <a class="nav-link nav-blue" href="{{ path('app_how_it_works') }}">Comment ça marche ?</a> </dd>

                <dt>Comment proposer un livre à l'échange ?</dt>
                <dd>Veuillez vous référer à la page suivante : <a class="nav-link nav-blue" href="{{ path('app_how_it_works') }}">Comment ça marche ?</a> </dd>

                <dt>Comment faire pour recevoir un livre que je désire ?</dt>
                <dd>Veuillez vous référer à la page suivante : <a class="nav-link nav-blue" href="{{ path('app_how_it_works') }}">Comment ça marche ?</a> </dd>

                <dt>Dans quel état doivent être les livres que je propose à l'échange ?</dt>
                <dd>Les livres peuvent être soit dans un état : 
                    <ul>
                        <li>Neuf</li>
                        <li>A l’état neuf/comme neuf</li>
                        <li>Excellent état</li>
                        <li>Très bon état</li>
                        <li>Bon état</li>
                        <li>Acceptable</li>
                    </ul>
                    Voir la page dédiée : <a class="nav-link nav-blue" href="{{ path('app_state_of_book') }}">Quel est l'état de mon livre ?</a> .
                </dd>

                <dt>Quels sont les formats de livre possible ?</dt>
                <dd>Les différents formats possible sont :
                    <ul>
                        <li>11*17 - Poche</li>
                        <li>12*18 - Manga</li>
                        <li>13*18</li>
                        <li>11*20 - Romantique</li>
                        <li>13*20 - Grand Poche</li>
                        <li>14*20  - Broché</li>
                        <li>14.8*21 - A5</li>
                        <li>15*15 - Carré</li>
                        <li>15*22 - Grand Poche</li>
                        <li>16*23</li>
                        <li>16*24 - Royal</li>
                        <li>19*15 - Panoramique</li>
                        <li>21*21 - Grand Carré</li>
                        <li>16*25 - Comic US</li>
                        <li>18*26 - MDO</li>
                        <li>21*29.7 - A4</li>
                        <li>24*32 - BD</li>
                        <li>29.7*21 - A4 Paysage</li>
                        <li>Autre</li>
                    </ul>
                </dd>
            </dl>
        </div>
	</section>
{% endblock %}