{% extends 'base.html.twig' %}

{% block title %}Foire aux Questions (FAQ)
{% endblock %}

{% block body %}
	<div class="container">
		<section class="contentBlockSection">
			<h2 class="h2frequentlyAskedQuestions">Foire aux Questions (FAQ)</h2>
			<div class="divParagraphsFrequentlyAskedQuestions">
				<p></p>
				<p></p>
			</div>
		</section>
	</div>
{% endblock %}