{% extends 'base.html.twig' %}

{% block title %}Comment ça marche ?
{% endblock %}

{% block body %}
	<section class="container main-how-it-works">
		<h2 class="h2howItWorks">Comment ça marche ?</h2>
		<div class="divParagraphsHowItWorks">
			<p>I - <a class="linkHowItWorks" href="{{ path('app_register') }}">Créer votre compte</a> </p>
			<p>II - <a class="linkHowItWorks" href="{{ path('app_login') }}">Connectez vous</a> avec votre compte</p>
			<p>III - Ajoutez les livres que vous voulez échanger dans votre stock</p>
			<p>IV - Après le dépôt de 5 livres au minimun, vous obtenez le droit de pourvoir effectuer un échange.</p>
			<p>V - Pour obtenir un livre, tapez dans la barre de recherche, le livre voulu via le titre du livre ou l'auteur du livre.</p>
			<p>VI - Cliquez sur l'onglet Échanger du livre voulu.</p>
			<p>VII - Après avoir cliquer sur le bouton Échanger, le propriétaire du livre voulu est informé que vous voulez échanger ce livre par courriel.</p>
			<p>VIII - Dans le courriel, le propriétaire a le pseudo de celui qui veut échanger son livre de son stock et un lien vers le stock de livres du demandeur, il envoit par courriel, le choix du livre voulu provenant du stock de livres du demandeur.</p>
			<p>IX - Si non réponse du propriétaire du livre d'ici quatre jours, l'échange n'est pas validé.</p>
			<p>X - Après la réception du courriel du propriétaire du livre, le demandeur valide l'échange par courriel.</p>
			<p>XI - Si non réponse du demandeur du livre d'ici quatre jours, l'échange n'est pas validé.</p>
		</div>
	</section>
{% endblock %}