{% extends 'base.html.twig' %}

{% block title %}Comment ça marche ?
{% endblock %}

{% block body %}
	<section class="container mainHowItWorks">
		<h2 class="h2MainHowItWorks">Comment ça marche ?</h2>
		<div class="divMainHowItWorks">
			<p>I - <a class="linkMainHowItWorks" href="{{ path('app_register') }}">Créer votre compte</a> </p>
			<p>II - <a class="linkMainHowItWorks" href="{{ path('app_login') }}">Connectez vous</a> avec votre compte</p>
			<p>III - Cliquez sur le lien  <a class="linkMainHowItWorks" href="{{ path('book_my_books') }}">Mes livres</a> puis cliquez sur le bouton <a class="linkMainHowItWorks" href="{{ path('book_add') }}">Ajouter un livre</a>.</p>
			<p>IV - Après le dépôt de 5 livres au minimun, vous obtenez le droit de pouvoir effectuer un échange.</p>
			<p>V - Pour obtenir un livre, tapez dans la barre de recherche soit: le titre du livre, l'auteur du livre, le pseudo du propriétaire du livre.</p>
			<p>VI - Cliquez sur un des résultats de l'auto-complétion de la recherche 
			ou sur le bouton Rechercher.</p>
			<p>VII - Cliquez sur l'onglet Échanger du livre voulu.</p>
			<p>VIII - Après avoir cliquer sur le bouton Échanger, le propriétaire du livre voulu est informé 
			que vous voulez échanger ce livre dans son compte, en dessous du titre Échanges via le lien Mes sollicitations d'échange.</p>
			<p>IX - Dans le lien Mes sollicitations d'échange, le propriétaire du livre a le pseudo de celui qui veut échanger son livre 
			et peut via le champ de recherche voir les livres qu'il mets à disposition.</p>
			<p>IX - Le propriétaire du livre a quatre jours pour choisir un de livres du demandeur, 
			il peut alors contacter le demandeur du livre par e-mail pour valider et fixer le rendez-vous.</p>
			<p>IX - Si non réponse du propriétaire du livre d'ici quatre jours, l'échange n'est pas validé.</p>
			<p>X - Après la réception de l'e-mail du propriétaire du livre, le demandeur valide l'échange par e-mail.</p>
			<p>XI - Si non réponse du demandeur du livre d'ici quatre jours, l'échange n'est pas validé.</p>
		</div>
	</section>
{% endblock %}