{% extends 'base.html.twig' %}

{% block title %}Page d'accueil du site d'ÉchangeLivres
{% endblock %}

{% block body %}
	<section class="container mainIndex">
		{% for message in app.flashes('success') %}
			<div class="divAlert">
				<div class="alert alert-success" role="alert">
					{{ message }}
				</div>
			</div>
		{% endfor %}
		{% for flashError in app.flashes('error') %}
			<div class="divAlert">
				<div class="alert alert-danger" role="alert">{{ flashError }}</div>
			</div>
		{% endfor %}
		<h2 class="h2IntroductoryContent">Échangez vos livres contre des nouveaux avec ÉchangeLivres !</h2>
		<p class="pIntroductoryContent">Facile et économique, le troc de livres d'occasion vous permet de lire de nouveaux titres toute l'année. Inscrivez-vous gratuitement et ajoutez vos livres à notre catalogue composé de milliers d'ouvrages.</p>
		<section class="instructionsForUse">
			<h3 class="h3InstructionsForUse">L'échange de livres, mode d'emploi</h3>
			<p>Vous êtes nouveau et souhaitez échanger vos livres sur Internet ? Découvrez comment fonctionne l'échange de livres sur ÉchangeLivres.</p>
			<img src="{{ asset('img/imageForTheInstructionManualBlock.svg') }}" class="imageForTheInstructionManualBlock" alt="image For The Instruction Manual Block"/>
			<a href="{{ path('app_how_it_works') }}" class="linkOnHowTheWebsiteWorks">Cliquez ici pour voir le fonctionnement de l'échange de livres</a>
		</section>
		<section class="sectionOfBookSelection">
			<h2 class="h2TitleSelectionOfBooks">Une sélection de livres disponibles à l'échange</h2>
		</section>
		<div class="row blockCard" id="content">
			{% include "main/_content.html.twig" %}
		</div>
	</section>
{% endblock %}
