{% extends 'base.html.twig' %}

{% block title %}Tous nos livres
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">

			<div class="col-md-12">
				<div class="grid">
					{% for book in books %}
						{% include "main/_card.html.twig" with {book : book} only %}
					{% endfor %}
				</div>

				<div class="paginationKnpRender">
					{{ knp_pagination_render(books)}}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
