{% extends 'base.html.twig' %}

{% block title %}État du livre
{% endblock %}

{% block body %}
	<section class="container mainStateOfBook">
        <h2 class="h2MainStateOfBook">État du livre</h2>
        <div class="divMainStateOfBook">
            <p>Voici les divers états de livre possible.</p>
            <dl>
                <dt>Neuf</dt>
                <dd>Le livre vient d'être publié récemment et jamais été lu.</dd>
                <dt>A l’état neuf/comme neuf</dt>
                <dd>C'est un livre qui a été jamais lu, mis en rayon mais qui peut avoir quelques années.</dd>
                <dt>Excellent état</dt>
                <dd>Le livre est similaire à un livre comme neuf.</dd>
                <dd>Il peut avoir été ouvert et lu, sans pour autant porter des imperfections sur le livre, la couverture ou les pages.</dd>
                <dt>Très bon état</dt>
                <dd>Le livre qui présente quelques petits signes d’usure, mais rien de très grave, sur la reliure ou bien le papier.</dd>
                <dt>Bon état</dt>
                <dd>Le livre a toutes ses pages et feuilles.</dd>
                <dt>Etat acceptable</dt>
                <dd>Le livre est usé où le texte est complet ainsi que les cartes ou illustrations mais la page de garde, ou de faux-titre, … manquent.</dd>
                <dd> La reliure, la jaquette (s’il y en a), etc. peuvent aussi être usés.</dd>
            </dl>
        </div>
	</section>
{% endblock %}