<h1>Bonjour ! Veullez confirmer votre e-mail!</h1>

<p>
	Veullez confirmer votre adresse e-mail en cliquant sur le lien suivant :
	<br><br>
	<a href="{{ signedUrl }}">Confirmer mon adresse e-mail</a>.Ce lien expirera dans
	{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
	Merci!
</p>
