{% extends 'admin/index.html.twig' %}

{% block title %}Ajouter un livre
{% endblock %}

{% block body %}
	<div id="formContainer">
		<div class="formHeader">
			<h2>Ajouter un livre</h2>
		</div>
		{{ include('admin/book/_form.html.twig', {
			button_text: 'Valider'
			}) 
		}}
	</div>
{% endblock %}
