{% extends 'admin/index.html.twig' %}

{% block title %}Modifier un livre
{% endblock %}

{% block body %}
	<div id="formContainer">
		<div class="formHeader">
			<h2>Modifier un livre</h2>
		</div>
		{{ include('admin/book/_form.html.twig', {
			button_text: 'Mettre à jour'
			}) 
		}}
	</div>
{% endblock %}
