@font-face {
    font-family: 'openSansRegular';
    src: local('openSansRegular'),
        local('Open Sans Regular'),
        local('open Sans Regular'),
        url('../fonts/OpenSans-Regular-webfont.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'MerriweatherRegular';
    src: local('MerriweatherRegular'),
        local('Merriweather Regular'),
        local('merriweather Regular'),
        url('../fonts/Merriweather-Regular-webfont.woff2') format('woff2'),
        url('../fonts/Merriweather-Regular-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoRegular';
    src: local('RobotoRegular'),
        local('Roboto Regular'),
        local('roboto Regular'),
        url('../fonts/Roboto-Regular-webfont.woff2') format('woff2'),
        url('../fonts/Roboto-Regular-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

html {
    font-size: 100%;
    font-family: 'openSansRegular', Arial, sans-serif, serif;
    font-weight: 400;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

.bg-gray97 {
    background-color: #F7F7F7;
}

ul {
    list-style-type: none;
}

/* templates/main/faq.html.twig */
dl>dd>ul {
    list-style-type: inherit;
}

/* templates/main/faq.html.twig */
dt,
dd {
    margin-top: 0.5rem;
}

div a {
    text-decoration: none;
}

a:focus {
    outline: 2px solid;
    outline-offset: .15em;
}

.aDivNavLogo {
    display: flex;
    align-items: center;
}

.imgLogo {
    width: 32px;
    height: 32px;
}

.brandNameExchange,
.brandNameBook {
    font-weight: bold;
    font-size: calc(1.275rem);
}

.navbar-brand .brandNameExchange {
    display: flex;
    align-items: center;
    color: #0854A2;
    margin-left: 1%;
}

.brandNameBook {
    color: #CD4109;
    margin-left: 0.2%;
}

nav {
    display: flex;
    color: #F7F7F7;
    align-items: center;
}

/* Test code selectors css : Responsive Mobile */
body>main.container {
    display: flex;
    flex-direction: column;
}

main.container>aside {
    flex: 0 0 auto;
    width: 100%;
}

div.container>nav.page-navigation {
    display: flex;
    justify-content: center;
    align-items: inherit;
}

/* Test code selectors css : Responsive Mobile */
nav.nav.nav-underline {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.nav-underline .nav-link {
    color: #F7F7F7;
}

nav li {
    list-style-type: none;
}

li.nav-item>a.nav-link.nav-blue {
    color: rgb(8, 84, 162);
}

li.nav-item>a.nav-link.nav-blue:hover {
    color: rgb(3, 36, 69);
}

nav a:link {
    text-decoration: none;
}

ul.navbar-nav.me-auto.mb-2.mb-lg-0>li.nav-item {
    padding-left: 1rem;
    padding-right: 1rem;
}

div#navbarDefault.navbar-collapse.offcanvas-collapse.open>ul.navbar-nav.mb-lg-0,
div#navbarDefault.navbar-collapse.offcanvas-collapse>ul.navbar-nav.mb-lg-0 {
    align-items: center;
    margin-bottom: .5rem;
    margin-right: auto;
}

.menu {
    display: flex;
    background-color: #CD4109;
    align-items: center;
    justify-content: center;
}

.menu ul {
    display: flex;
}

.menu a {
    color: #F7F7F7;
}

.menu a:link {
    text-decoration: none;
}

main {
    display: flex;
    background-color: #FFF;
    border-radius: 0.5rem;
}

main>aside {
    background-color: #F7F7F7;
    border: 0.8em solid #F7F7F7;
    border-radius: 0.5rem;
}

#search_form {
    background-color: #FFF;
    border-radius: 0.5rem;
    padding: 5px;
}

#search_form button {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #CD4109;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-color: #CD4109;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    width: 100%;
}

#search_form button:hover {
    color: #fff;
    background-color: #CD4109;
    border-color: #CD4109;
}

.informationAboutTheAccountTheLibraryTheExchanges {
    background-color: #FFF;
    padding: .5rem .5rem;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
}

.h2OfWelcomeOfFirstName {
    font-weight: bold;
}

.divAboutTheAccountTheLibraryTheExchanges {
    display: flex;
    flex-direction: column;
    padding-left: 0.32em;
}

.divAboutTheAccountTheLibraryTheExchanges>h3 {
    color: #0854A2;
}

.linkManageMyAccount {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.informationAboutTheAccountTheLibraryTheExchanges a {
    color: #000;
    text-decoration: none;
    padding-left: 0.65em;
    padding-bottom: 0.65em;
}

th,
td,
thead,
tbody>tr>th,
tbody>tr>td {
    text-align: center;
}

/* classes for validation form */
.valid {
    color: #0f5132;
}

.invalid {
    color: #842029;
}

.divUserIndex {
    margin: 1.5rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: .25rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.h2IntroductoryContent,
.h2howItWorks,
.h2frequentlyAskedQuestions,
.h2stateOfBook,
.formHeader h2,
.h2OfWelcomeOfFirstName,
.h2UserData,
.h2MyBooks,
.h2Author,
.h2UserIndex,
.h2HowMakeExchange,
.h2MyExchangeWishes,
.h2MyExchangeRequests,
.h2ListOfBooks,
.h2ValidationConfirmExchange,
.h2ConfirmExchange,
.h2ResetPasswordCheckEmail,
.h2MainSearchBooksTest {
    font-size: 1.1em;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Test code selectors css : Responsive Mobile */
.h2IntroductoryContent {
    color: #000000;
}

/* Wireframe 1- How It Works, templates/main/faq.html.twig, templates/main/state_of_book.html.twig */
.h2howItWorks,
.h2frequentlyAskedQuestions,
.h2stateOfBook,
.h2MainSearchBooksTest {
    color: #0854A2;
    text-align: center;
}

p>a.linkHowItWorks {
    color: #000;
}

.h2UserData,
.h3UserData,
.h2UserIndex,
.h2MyBooks,
.h2Author,
.h2HowMakeExchange,
.h2MyExchangeWishes,
.h2MyExchangeRequests,
.h2ListOfBooks,
.h2ValidationConfirmExchange,
.h2ConfirmExchange,
.h2ResetPasswordCheckEmail {
    font-family: 'RobotoRegular', 'openSansRegular', Arial, sans-serif, serif;
    font-weight: 700;
    color: #186135;
    background-color: #F7F7F7;
    padding: 10px 20px;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.h2UserData,
.h2MyBooks,
.h2Author,
.h2UserIndex,
.h2HowMakeExchange,
.h2MyExchangeWishes,
.h2MyExchangeRequests,
.h2ListOfBooks,
.h2ValidationConfirmExchange,
.h2ConfirmExchange,
.h2ResetPasswordCheckEmail {
    border: 0.04em solid #186135;
}

.h3UserData {
    padding: 10px 20px;
}

/* Test code selectors css : Responsive Mobile */
section.container.main-index>p.pIntroductoryContent {
    font-size: 0.83em;
    font-weight: bold;
    line-height: 1.6em;
    margin-left: 2%;
}

/* Wireframe 1- How It Works, templates/main/faq.html.twig, templates/main/state_of_book.html.twig */
.divParagraphsHowItWorks p,
.divParagraphsFrequentlyAskedQuestions p,
.divParagraphsFrequentlyAskedQuestions dl,
.divParagraphsFrequentlyAskedQuestions dd,
.divParagraphsStateOfBook p,
.divParagraphsStateOfBook dl,
.divParagraphsStateOfBook dd {
    font-family: 'MerriweatherRegular', 'openSansRegular', Arial, sans-serif, serif;
    color: #000;
}

.divParagraphsFrequentlyAskedQuestions dd,
.divParagraphsStateOfBook dd {
    margin-right: 5%;
}

/* Test code selectors css : Responsive Mobile */
.h3InstructionsForUse {
    color: #CD4109;
    font-size: 1em;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

/* Test code selectors css : Responsive Mobile */
.instructionsForUse p {
    font-size: 0.9em;
    margin-left: 2%;
}

.divValidationConfirmExchange,
.divConfirmExchange {
    margin: 0 auto;
    border: 0.1em solid #186135;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #F7F7F7;
    padding: 10px;
}

.divValidationConfirmExchange {
    width: 100%;
    text-align: center;
}

div.divValidationConfirmExchange>p>span {
    font-weight: bold
}

.divBookMyBooksEmptyLibrary,
.divTheBooksIRequestedToExchange,
.divMyBooksRequestedForExchange,
.divResetPasswordCheckEmail {
    margin: 1.5rem auto;
    border-radius: 0.5rem;
    background-color: #0854A2;
    padding: 1rem;
}

.divResetPasswordCheckEmail {
    background-color: #F7F7F7;
}

.divBookMyBooksEmptyLibrary,
.divResetPasswordCheckEmail {
    width: 63.8%;
}

.divTheBooksIRequestedToExchange,
.divMyBooksRequestedForExchange {
    width: 52.8%;
}

.divBookMyBooksEmptyLibrary p,
.divTheBooksIRequestedToExchange p,
.divMyBooksRequestedForExchange p,
.divHowMakeExchange p,
.divConfirmExchange p {
    font-family: 'openSansRegular', Arial, sans-serif, serif;
    color: #000;
}

.divBookMyBooksEmptyLibrary p,
.divTheBooksIRequestedToExchange p,
.divMyBooksRequestedForExchange p,
.divHowMakeExchange p {
    color: #FFF;
}

.divTheBooksIRequestedToExchange p,
.divMyBooksRequestedForExchange p {
    margin: .5rem auto;
}

/* Test code selectors css : Responsive Mobile */
.imageForTheInstructionManualBlock {
    width: 100%;
    height: 144.1px;
}

/* Test code selectors css : Responsive Mobile */
.linkOnHowTheWebsiteWorks {
    display: inline-block;
    color: #000000;
    text-decoration: underline;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

/* Test code selectors css : Responsive Mobile */
.h2TitleSelectionOfBooks {
    text-align: center;
    background-color: #F7F7F7;
    border-radius: 0.5rem;
    padding: 5px;
    font-size: 1.1em;
}

/* Test code selectors css : Responsive Mobile */
div#content.row.blockCard>div.card {
    flex: 0 0 auto;
    width: 100%;
    justify-content: center;
}

.divConfirmExchange span {
    font-weight: bold;
}

.locationIcon {
    width: 2rem;
    height: 2rem;
}

/* templates/book/_content.html.twig */
.btn-outline-success.exchangeButton {
    color: #196216;
    border-color: #196216;
}

.btn-outline-success.exchangeButton:hover {
    color: #fff;
    background-color: #196216;
    border-color: #196216;
}

/* templates/book/validation_confirm_exchange.html.twig and templates/book/my_books.html.twig */
.div-validation-confirm-exchange-button,
.divButtonBookMyBooks {
    display: flex;
    justify-content: center;
}

/* templates/book/validation_confirm_exchange.html.twig */
a.btn-success.validation-confirm-exchange-button {
    font-family: 'openSansRegular';
    color: #fff;
    background-color: #196216;
    border-color: #196216;
    width: min-content;
}

a.btn-success.validation-confirm-exchange-button:hover {
    color: #fff;
    background-color: #186135;
    border-color: #15572F;
}

.divHowMakeExchange {
    display: flex;
    flex-direction: column;
    margin: 1.5rem auto;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    background-color: #186135;
}

.paragraphValidationConfirmExchange {
    text-align: left;
}

div.div-user-index-buttons {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 100%;
    padding-bottom: 1.5rem;
}

div#content.row.blockCard {
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* test for section container with min-width:240px */
main.container>section.container.main-index,
main.container>section.container.list-of-books,
main.container>section.container.how-make-exchange,
main.container>section.container.user-index,
main.container>section.container.book-author,
main.container>section.container.user-data,
main.container>section.container.book-my-books {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1.5rem;
}

/* Above test for section container */

div.div-user-index-buttons>a.btn.btn-primary.user-index-button {
    margin-bottom: 1.5rem;
}

/* Styles css Bootstrap */
.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}

.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

/* classes for validation form */
.valid {
    color: #0f5132;
}

.invalid {
    color: #842029;
}

/* Style CSS For Validation FORM BOOTSTRAP */
#formContainer {
    background-color: #fff;
    font-family: sans-serif, 'openSansRegular';
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
    padding: 0;
    height: min-content;
    margin: 2.5rem auto;
}

div.form-control {
    border: none;
}

div.form-control:disabled,
div.form-control:read-only {
    background-color: inherit;
    opacity: 1;
}

.divAlert.col-12 {
    margin-top: 2.5rem;
}

.formHeader {
    border-bottom: 1px solid #f0f0f0;
    background-color: #f7f7f7;
    padding: 10px 20px;
    text-align: center;
}

.formHeader h2 {
    margin: 0;
    color: #186135;
    font-weight: 700;
}

/* Put the form id with #formContainer */
#registration_form,
#login_form,
#update_profile_form,
#update_email_form,
#update_password_form,
#reset_password_request_form,
#reset_password_form,
#add_book_form {
    padding: 10px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control input,
.form-control select,
.form-control textarea {
    border: 2px solid #f0f0f0;
    border-radius: 0.25rem;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-control:focus,
.form-control input:focus,
div.form-control:focus,
div.form-control>input#inputEmail.form-control:focus,
div.form-control>input#inputPassword.form-control:focus {
    color: #212529;
    background-color: #fff;
    outline: 2px solid;
    outline-offset: .15em;
    box-shadow: 0 0 0 .25rem rgba(119, 119, 119, .25);
}

.btn-check:focus+.btn-success,
.btn-success:focus {
    outline: 2px solid;
    outline-offset: .15em;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control i {
    visibility: hidden;
    position: absolute;
    top: 45px;
    right: -7px;
}

.form-control.success i.bi-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.bi-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.form-control small {
    color: #e74c3c;
    position: relative;
    bottom: 0;
    left: 0;
    display: initial;
}

.form-control.error small {
    display: initial;
}

.form-control.success small {
    display: none;
}

/* For the 'Valider' button of templates/book/add.html.twig */
.form button {
    background-color: #004B9B;
    border: 2px solid #004B9B;
    border-radius: 0.25rem;
    color: #fff;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}

.form button:hover {
    background-color: #003c7c;
    border-color: #003063;
}

.form button:active {
    background-color: #0a58ca;
    border-color: #0a53be;
}

/* template/registration/register.html.twig */
.div-registration-register-button,
.div-security-login-button,
.div-reset-password-request-button,
.div-user-update-profile-button,
.div-user-update-email-button,
.div-user-update-password-button {
    display: flex;
    justify-content: center;
}

.form button.btn.btn-success.btn-lg,
#update_profile_form_validate,
#update_email_form_validate,
#update_password_form_validate,
#reset_password_request_form_validate {
    background-color: #186135;
    border: 2px solid #186135;
    border-radius: 0.25rem;
    color: #fff;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
}

.formFooterSecurityLogin {
    border-top: 1px solid #f0f0f0;
    background-color: #f7f7f7;
    padding: 10px;
    text-align: center;
}

/* Test temporary templates main/search_book_test.html.twig */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 1.5rem;
}

/* template search_books_test.html.twig , templates/book/show.html.twig */
main.container>div.container {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* Templates/book/show.html.twig */
.card.show {
    margin: 0;
}

.card-picture {
    display: flex;
    flex: 0 0 auto;
    width: 100%;
    padding-top: 1rem;
    align-items: center;
    justify-content: center;
}

div.card-picture {
    padding-left: 1rem;
    padding-right: 1rem;
}

div.card-picture>img {
    width: 95%;
}

h5.card-title,
h5.card-title a,
div.card-header a,
.stateBook,
.locationBook,
.ownerBook {
    font-weight: bold;
    color: #000;
}

.divButtonExchangeCenter,
.divButtonsBookShowCenter {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.divButtonsBookShowCenter {
    flex-direction: column;
}

div.card-body {
    padding-bottom: 0;
}

.page-navigation {
    display: grid;
    justify-content: center;
}

/* templates/user/data.html.twig */
/* templates/book/my_books.html.twig */
.btn.user-data-button,
.btn.book-my-books-add-book-button,
.btn.book-my-books-button {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn.user-data-button:hover,
.btn.book-my-books-add-book-button:hover,
.btn.book-my-books-button:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.btn.user-data-button,
.btn.book-my-books-add-book-button {
    flex: 0 0 auto;
    margin: 1.5rem;
    width: max-content;
}

.btn.book-my-books-button {
    margin: .5rem;
}

.h3UserData {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* Test templates/user/index.html.twig, templates/user/data.html.twig */
.div-user-index-row,
.div-user-data-row {
    flex: 0 0 auto;
    width: 100%;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    margin-top: 1.5rem;
}

.div-user-index-name,
.div-user-data-name {
    font-weight: bold;
}

.div-user-index-name,
.div-user-index-value,
.div-user-data-name,
.div-user-data-value {
    margin-bottom: 1rem;
}

/* Template book/validation/confirm/exchange.html.twig */
main.container>section.container.validation-confirm-exchange,
main.container>section.container.confirm-exchange {
    margin-bottom: 1.5rem;
}

/* Test code selectors css : Responsive Mobile */
nav.page-navigation>ul.pagination>li.page-item>a.page-link {
    padding: .2rem .12rem;
    font-size: .875rem;
}

@media all and (min-width: 240px) and (max-width: 319px) and (min-resolution: 1dppx) {

    /* Table responsive */
    .responsive-table-line td:before,
    .responsive-table-line th:before {
        content: attr(data-label);
    }

    /* Force table to not be like tables anymore */
    .responsive-table-line table,
    .responsive-table-line thead,
    .responsive-table-line tbody,
    .responsive-table-line th,
    .responsive-table-line td,
    .responsive-table-line tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .responsive-table-line thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .responsive-table-line tr {
        border: 1px solid #ccc;
        border-radius: .25rem;
        margin-bottom: 1rem;
    }

    .responsive-table-line td,
    .responsive-table-line th {
        position: relative;
        border: 0px solid transparent;
        padding-left: 50% !important;
        white-space: normal;
        overflow: hidden;
        overflow-x: scroll;
        text-align: left;
    }

    .responsive-table-line td:before,
    .responsive-table-line th:before {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 46%;
        padding-right: 15px;
        height: 100%;
        white-space: nowrap;
        text-overflow: ellipsis !important;
        overflow: hidden;
        overflow-x: scroll;
        text-align: left;
        background-color: #f8f8f8;
        padding: 10px;
        font-weight: bold;
    }
}

@media all and (min-width: 320px) and (max-width: 3840px) and (min-resolution: 1dppx) {

    /* Table responsive */
    .responsive-table-line td:before,
    .responsive-table-line th:before {
        content: attr(data-label);
    }

    /* Force table to not be like tables anymore */
    .responsive-table-line table,
    .responsive-table-line thead,
    .responsive-table-line tbody,
    .responsive-table-line th,
    .responsive-table-line td,
    .responsive-table-line tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .responsive-table-line thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .responsive-table-line tr {
        border: 1px solid #ccc;
        border-radius: .25rem;
        margin-bottom: 1rem;
    }

    .responsive-table-line td,
    .responsive-table-line th {
        position: relative;
        border: 0px solid transparent;
        padding-left: 50% !important;
        white-space: normal;
        text-align: left;
    }

    .responsive-table-line td:before,
    .responsive-table-line th:before {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 46%;
        padding-right: 15px;
        height: 100%;
        white-space: nowrap;
        text-overflow: ellipsis !important;
        overflow: hidden !important;
        text-align: left;
        background-color: #f8f8f8;
        padding: 10px;
        font-weight: bold;
    }
}

/* Mobile menu Nokia 8110 - 240px*320px and DPR=1 */
@media all and (min-width: 320px) and (min-resolution: 1dppx) {

    .brandNameExchange,
    .brandNameBook {
        font-size: 1.375rem;
    }

    #search_form {
        padding: 20px;
    }

    .h2IntroductoryContent,
    .h2howItWorks,
    .h2frequentlyAskedQuestions,
    .h2stateOfBook,
    .formHeader h2,
    .h2OfWelcomeOfFirstName,
    .h2UserData,
    .h2MyBooks,
    .h2Author,
    .h2UserIndex,
    .h2HowMakeExchange,
    .h2MyExchangeWishes,
    .h2MyExchangeRequests,
    .h2ListOfBooks,
    .h2ValidationConfirmExchange,
    .h2ConfirmExchange,
    .h2ResetPasswordCheckEmail,
    .h2MainSearchBooksTest {
        font-size: 1.325rem;
    }

    .informationAboutTheAccountTheLibraryTheExchanges {
        padding: 1.5rem 1.5rem;
    }

    .divAboutTheAccountTheLibraryTheExchanges {
        padding-left: 0.65em;
    }

    div#content.row.blockCard>div.card {
        width: 90%;
    }

    main.container>section.container.user-index,
    main.container>section.container.book-author,
    main.container>section.container.user-data {
        display: flex;
        flex-wrap: wrap;
    }

    .div-user-index-row,
    .div-user-data-row {
        display: flex;
        flex-wrap: inherit;
    }

    .div-user-index-name,
    .div-user-index-value,
    .div-user-data-name,
    .div-user-data-value {
        width: 50%;
    }

    .divValidationConfirmExchange,
    .divConfirmExchange {
        padding: 20px;
    }

    a.btn-success.validation-confirm-exchange-button {
        width: initial;
    }

    nav.page-navigation>ul.pagination>li.page-item>a.page-link {
        padding: .25rem;
    }
}

/* iPhone 5 , iPhone SE 
@media only screen and (min-width: 320px) and (min-resolution: 2dppx) {}
*/

@media only screen and (min-width: 375px) and (min-resolution: 1dppx) {

    .imgLogo {
        width: 48px;
        height: 48px;
    }

    .brandNameExchange,
    .brandNameBook {
        font-size: calc(1.375rem + 1.5vw);
    }

    nav ul li a,
    .menu a {
        font-size: 1.55em;
    }

    .formHeader {
        padding: 20px 40px;
    }

    .h2IntroductoryContent,
    .h2howItWorks,
    .h2frequentlyAskedQuestions,
    .h2stateOfBook,
    .formHeader h2,
    .h2OfWelcomeOfFirstName,
    .h2UserData,
    .h2MyBooks,
    .h2Author,
    .h2UserIndex,
    .h2HowMakeExchange,
    .h2MyExchangeWishes,
    .h2MyExchangeRequests,
    .h2ListOfBooks,
    .h2ValidationConfirmExchange,
    .h2ConfirmExchange,
    .h2ResetPasswordCheckEmail,
    .h2MainSearchBooksTest {
        font-size: calc(1.325rem + .9vw);
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .formHeader h2 {
        margin: 0;
    }

    #registration_form,
    #login_form,
    #update_profile_form,
    #update_email_form,
    #update_password_form,
    #reset_password_request_form,
    #reset_password_form,
    #add_book_form {
        padding: 30px 40px;
    }

    .form button.btn.btn-success.btn-lg,
    #update_profile_form_validate,
    #update_email_form_validate,
    #update_password_form_validate,
    #reset_password_request_form_validate {
        background-color: #186135;
        border: 2px solid #186135;
        border-radius: 0.25rem;
        color: #fff;
        display: block;
        font-family: inherit;
        font-size: 16px;
        padding: 10px;
        margin-top: 20px;
        width: 100%;
    }

    .formFooterSecurityLogin {
        padding: 20px 40px;
    }

    .form-control i {
        right: -15px;
    }

    .h3InstructionsForUse {
        font-size: 1.1em;
    }

    .instructionsForUse p {
        font-size: 1em;
    }

    .imageForTheInstructionManualBlock {
        height: 288.2px;
    }

    .h2TitleSelectionOfBooks {
        padding: 10px 20px;
        font-size: calc(1.325rem + .9vw);
    }

    div#content.row.blockCard>div.card,
    main.container>div.container {
        width: 90%;
    }

    div.div-user-index-buttons {
        width: min-content;
    }

    nav.page-navigation>ul.pagination>li.page-item>a.page-link {
        padding: .25rem .35rem;
        font-size: 1rem;
    }
}

/* 	iPhone 6 to X 
@media only screen and (min-width: 375px) and (min-resolution: 2dppx) {}*/

@media only screen and (min-width: 400px) and (min-resolution: 1dppx) {

    /* Templates/book/show.html.twig */
    div.card-picture>img {
        width: 50%;
    }

    .divValidationConfirmExchange,
    .divConfirmExchange {
        padding: 20px 40px;
    }

    nav.page-navigation>ul.pagination>li.page-item>a.page-link {
        padding: .30rem .40rem;
        font-size: 1.15em;
    }

}

/* 	iPhone 8 Plus */
@media only screen and (min-width: 414px) and (min-resolution: 1dppx) {

    /* templates/main/index.html.twig */
    div#content.row.blockCard>div.card {
        width: 80%;
    }

    div#content.row.blockCard>div.card,
    main.container>div.container {
        width: 80%;
    }

}

@media only screen and (min-width: 568px) and (min-resolution: 1dppx) {

    /* templates/book/index.html.twig, Templates/book/show.html.twig */
    div#content.row.blockCard>div.card,
    main.container>div.container {
        width: 70%;
    }

    .divValidationConfirmExchange,
    .divConfirmExchange {
        width: 80%;
    }

    nav.page-navigation>ul.pagination>li.page-item>a.page-link {
        padding: .45rem .45rem;
        font-size: 1.40em;
    }

}

/* iPhone SE 
@media only screen and (min-width: 568px) and (min-resolution: 2dppx) {}
*/

@media only screen and (min-width: 600px) and (min-resolution: 1dppx) {

    /* templates/book/index.html.twig , Templates/book/show.html.twig*/
    div#content.row.blockCard>div.card,
    main.container>div.container {
        width: 80%;
    }

}

@media only screen and (min-width: 667px) and (min-resolution: 1dppx) {

    /* templates/book/index.html.twig */
    div.card-picture>img {
        width: 60%;
    }

}

/*	iPhone 6 to 8 
@media only screen and (min-width: 667px) and (min-resolution: 2dppx) {}
*/

/*	iPhone 8 Plus 
@media only screen and (min-width: 736px) and (min-resolution: 2dppx) {}
*/

/* iPad Air, iPad Mini, iPad Pro 9″ */
@media only screen and (min-width: 768px) and (min-resolution: 1dppx) {

    /* template book/index.html.twig */
    body>main.container {
        display: flex;
        flex-direction: row;
    }

    main.container>aside {
        flex: 0 0 auto;
        width: 33%;
    }

    .h2OfWelcomeOfFirstName {
        font-weight: bold;
        font-size: calc(1.325rem + .1vw);
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    main.container>div.container,
    main.container>section.container,
    main.container>section.container.main-index,
    main.container>section.container.list-of-books,
    main.container>section.container.main-how-it-works,
    main.container>section.container.main-faq,
    main.container>section.container.main-state-of-book,
    main.container>section.container.how-make-exchange,
    main.container>section.container.user-index,
    main.container>section.container.book-author,
    main.container>section.container.user-data,
    main.container>section.container.book-my-books,
    main.container>section.container.book-my-exhange-wishes,
    main.container>section.container.container.book-my-exhange-requests,
    main.container>section.container.main-search-books-test,
    main.container>section.container.validation-confirm-exchange,
    main.container>section.container.confirm-exchange {
        display: flex;
        flex-direction: column;
        width: 66.6666666667%;
        margin-top: 1.5rem;
    }

    /* Template book/show.html.twig */
    .card.show {
        margin: 0.5rem;
    }

    /* Template book/index.html.twig */
    div.card-picture {
        width: 41.6666666667%;
    }

    /* Template book/show.html.twig */
    div.card-picture.show {
        width: 100%;
    }

    div.card-picture>img {
        width: 100%;
    }

    /* Template book/show.html.twig */
    div.card.show>div.row.g-0>div.card-picture.col-xl-4>img {
        width: 60%;
    }

    main.container>section.container.user-index,
    main.container>section.container.book-author {
        display: flex;
        flex: 0 0 auto;
        margin-top: 1.5rem;
    }

    .divParagraphsHowItWorks,
    .divParagraphsFrequentlyAskedQuestions,
    .div-user-index-row,
    .div-user-data-row {
        padding-left: 1.5rem;
    }

    div.row.row-cols-2.g-4>div.div-user-index-name,
    div.row.row-cols-2.g-4>div.div-user-data-name {
        flex: 0 0 auto;
        width: 33.3333333333%;
        margin-left: 1.5rem;
        padding: .5rem;
        border: 1px solid #dee2e6;
    }

    div.row.row-cols-2.g-4>div.div-user-index-value,
    div.row.row-cols-2.g-4>div.div-user-data-value {
        flex: 0 0 auto;
        width: 41.6666666667%;
        padding: .5rem;
        border: 1px solid #dee2e6;
    }

    div.div-user-index-buttons>a.btn.btn-primary.user-index-button {
        margin-right: .5rem;
        margin-left: .5rem;
    }

    nav.page-navigation>ul.pagination>li.page-item>a.page-link {
        padding: .50rem .50rem;
        font-size: 1.2em;
    }

}

/*	iPhone X */
@media only screen and (min-width: 812px) and (min-resolution: 3dppx) {

    /* Templates/book/show.html.twig */
    main.container>div.container {
        width: 90%;
    }

}

/* support for screen sizes larger than mobile */
@media only screen and (min-width: 991.98px) and (min-resolution: 1dppx) {

    .imgLogo {
        width: 64px;
        height: 64px;
    }

    .nav-item {
        margin-right: 1rem;
    }

    .h2OfWelcomeOfFirstName {
        font-size: calc(1.325rem + .9vw);
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .div-user-index-row,
    .div-user-data-row {
        padding-left: 1.5rem;
    }

    nav.page-navigation>ul.pagination>li.page-item>a.page-link {
        padding: .50rem .50rem;
        font-size: 1.40em;
    }

}

@media only screen and (min-width: 1025px) and (min-resolution: 1dppx) {

    /* Template book/show.html.twig */
    .card.show {
        margin: 2rem;
    }

    nav.nav.nav-underline {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .nav-underline .nav-link {
        padding-top: .75rem;
        padding-bottom: .75rem;
        font-size: 1.55em;
        color: #F7F7F7;
    }

    .h2IntroductoryContent {
        color: #000000;
        font-size: 1.48em;
        margin-left: 11.3%;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }

    section.container.main-index>p.pIntroductoryContent {
        font-size: 0.83em;
        font-weight: bold;
        line-height: 1.6em;
        margin-left: 12.4%;
        width: 83%;
    }

    .h3InstructionsForUse {
        color: #CD4109;
        font-size: 1.41em;
        width: 48%;
        margin-left: 18.8%;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
    }

    .instructionsForUse p {
        font-size: 1.1em;
        width: 77.5%;
        margin-left: 19.2%;
    }

    .imageForTheInstructionManualBlock {
        width: 70.4%;
        height: 288.2px;
        margin-left: 18.8%;
    }

    .linkOnHowTheWebsiteWorks {
        width: 57.2%;
        margin-left: 23.8%;
        margin-top: 1rem;
    }

    .sectionOfBookSelection .h2TitleSelectionOfBooks {
        margin-left: 5.3%;
    }

    .h2TitleSelectionOfBooks {
        width: 90%;
    }

    .h2OfWelcomeOfFirstName {
        font-size: calc(1.325rem + .2vw);
    }

    .h2UserData,
    .h3UserData,
    .h2UserIndex,
    .h2MyBooks,
    .h2Author,
    .h2HowMakeExchange,
    .h2MyExchangeWishes,
    .h2MyExchangeRequests,
    .h2ListOfBooks,
    .h2ValidationConfirmExchange,
    .h2ConfirmExchange,
    .h2ResetPasswordCheckEmail {
        width: 72.5%;
        margin-left: 5rem;
        padding: 20px 40px;
    }

    .h2UserData,
    .h2MyBooks,
    .h2Author,
    .h2UserIndex,
    .h2HowMakeExchange,
    .h2MyExchangeWishes,
    .h2MyExchangeRequests,
    .h2ListOfBooks,
    .h2ValidationConfirmExchange,
    .h2ConfirmExchange,
    .h2ResetPasswordCheckEmail {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }

    .divValidationConfirmExchange,
    .divConfirmExchange {
        width: 65%;
    }

    div.card-picture>img {
        width: 100%;
    }

    .btn.user-data-button,
    .btn.book-my-books-add-book-button {
        margin-left: 6.5rem;
    }

    .div-user-index-row,
    .div-user-data-row {
        padding-left: 6.5rem;
    }

    .table {
        margin: 1rem;
    }

    nav.page-navigation>ul.pagination>li.page-item>a.page-link {
        padding: .375rem .75rem;
        font-size: 1.55em;
    }

}

@media only screen and (min-width: 1200px) and (min-resolution: 1dppx) {

    main.container>aside {
        flex: 0 0 auto;
        width: 25%;
    }

    div.card.show>div.row.g-0>div.card-picture.col-xl-4>img {
        width: 100%;
    }

    div.card-picture.show {
        width: 33.3333333333%;
    }

}

@media only screen and (min-width: 1366px) and (min-resolution: 1dppx) {

    div#content.row.blockCard>div.card {
        width: 47%;
    }

}

@media only screen and (min-width: 1440px) and (min-resolution: 1dppx) {

    div#content.row.blockCard>div.card {
        width: 41.6666666667%;
    }
}

@media only screen and (min-width: 2160px) and (min-resolution: 1dppx) {

    nav ul li a,
    .menu a {
        font-size: 2em;
    }

    .nav-underline .nav-link {
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-top: 0.5rem;
        font-size: 2em;
    }

    nav.page-navigation>ul.pagination>li.page-item>a.page-link {
        padding: .5rem 1rem;
        font-size: 2em;
    }
}

@media only screen and (min-width: 3840px) and (min-resolution: 1dppx) {

    .imgLogo {
        width: 100px;
        height: 100px;
    }

    .nav-underline .nav-link {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        margin-top: 2.5rem;
        font-size: 2em;
    }
}