body {
    font-size: .875rem;
}

/*
* Sidebar
*/

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 48px 0 0;
    /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

nav#sidebarMenu {
    display: block;
    position: relative;
    width: 100%;
    /* ..bg-light */
    background-color: #f8f9fa;
}

.sidebar {
    padding: 0;
}

.sidebar-sticky {
    height: auto ! important;
}

th,
td,
thead,
tbody>tr>th,
tbody>tr>td {
    text-align: center;
}

/*
* Buttons
*/

.buttonPrimaryAdminIndex,
.buttonWarningAdminIndex,
.buttonDangerAdminIndex {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    margin: .5rem !important;
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: .2rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.buttonPrimaryAdminIndex {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.buttonPrimaryAdminIndex:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.buttonPrimaryAdminIndex:active {
    color: #fff;
    background-color: #0a58ca;
    border-color: #0a53be;
}

.buttonPrimaryAdminIndex:focus {
    box-shadow: 0 0 0 .25rem rgba(49, 132, 253, .5);
}

.buttonWarningAdminIndex {
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107;
}

.buttonWarningAdminIndex:hover {
    color: #000;
    background-color: #ffca2c;
    border-color: #ffc720;
}

.buttonWarningAdminIndex:active {
    color: #000;
    background-color: #ffcd39;
    border-color: #ffc720;
}

.buttonWarningAdminIndex:focus {
    box-shadow: 0 0 0 .25rem rgba(217, 164, 6, .5);
}

.buttonDangerAdminIndex {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.buttonDangerAdminIndex:hover {
    color: #fff;
    background-color: #bb2d3b;
    border-color: #b02a37;
}

.buttonDangerAdminIndex:active {
    color: #fff;
    background-color: #b02a37;
    border-color: #a52834;
}

.buttonDangerAdminIndex:focus {
    box-shadow: 0 0 0 .25rem rgba(225, 83, 97, .5);
}

.card-picture {
    display: flex;
    flex: 0 0 auto;
    width: 100%;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    align-items: center;
    justify-content: center;
}

.card.show {
    margin: 0.5rem;
}

div.card.show>div.row.g-0>div.card-picture.col-xl-4>img {
    width: 90%;
    border-radius: .25rem;
}

div.card>div.row.g-0>div.col-md-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

div.card>div.row.g-0>div.col-md-4>img {
    width: 260px;
    height: 300px;
    border-radius: .25rem;
}

.card-title {
    font-weight: bold;
}

.card-title>a,
.card-header>a,
.stateBook,
.locationBook,
.ownerBook {
    font-weight: bold;
    color: #000;
}

.card-title>a,
.card-header>a {
    text-decoration: none;
}

li.list-group-item>img.locationIcon {
    width: 2rem;
    height: 2rem;
}

.divButtonsBookShowCenter {
    display: flex;
    flex-direction: column;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover {
    color: #0a58ca;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
* Navbar
*/

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
    margin-right: 0;
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

/*
* Form
*/

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input,
.form-label-group label {
    height: 3.125rem;
    padding: .75rem;
}

.form-label-group label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    color: #495057;
    pointer-events: none;
    cursor: text;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input,
.form-label-group label {
    height: 3.125rem;
    padding: .75rem;
}

/* Classes for the validation form */
.valid {
    color: #0f5132;
}

.invalid {
    color: #842029;
}

/* Style css for the validation form bootstrap */
#formContainer {
    background-color: #fff;
    font-family: sans-serif, 'openSansRegular';
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
    padding: 0;
    height: min-content;
    margin: 2.5rem auto;
}

#formContainer .form-control {
    border: none;
}

.formHeader {
    border-bottom: 1px solid #f0f0f0;
    background-color: #f7f7f7;
    padding: 20px 40px;
    text-align: center;
}

.formHeader h2 {
    margin: 0;
    color: #004B9B;
    font-weight: 700;
}

.form {
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control input,
.form-control select,
.form-control textarea {
    border: 2px solid #f0f0f0;
    border-radius: 0.25rem;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-control input:focus {
    outline: 0;
    border-color: #777;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control i {
    visibility: hidden;
    position: absolute;
    top: 45px;
    right: 50px;
}

.form-control.success i.bi-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.bi-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.form-control small {
    color: #e74c3c;
    position: relative;
    bottom: 0;
    left: 0;
    display: initial;
}

.form-control.error small {
    display: initial;
}

.form-control.success small {
    display: none;
}

.form button {
    background-color: #004B9B;
    border: 2px solid #004B9B;
    border-radius: 0.25rem;
    color: #fff;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}

.form button:hover {
    background-color: #003c7c;
    border-color: #003063;
}

.form button:active {
    background-color: #0a58ca;
    border-color: #0a53be;
}

.formFooterSecurityLogin {
    border-top: 1px solid #f0f0f0;
    background-color: #f7f7f7;
    padding: 20px 40px;
    text-align: center;
}

/* Styles css Bootstrap */
.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}

.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

/* For better design input file */
input#book_form_image.form-control {
    padding: .375rem .75rem;
    border: 2px solid #f0f0f0;
    /*border: 1px solid #ced4da;*/
}

.divAdminIndexDashboard {
    padding-top: 1rem;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #dee2e6;
}

@media all and (min-width: 240px) and (max-width: 3840px) and (min-resolution: 1dppx) {

    /* Table responsive */
    .responsiveTableLine td:before,
    .responsiveTableLine th:before {
        content: attr(data-label);
    }

    /* Force table to not be like tables anymore */
    .responsiveTableLine table,
    .responsiveTableLine thead,
    .responsiveTableLine tbody,
    .responsiveTableLine th,
    .responsiveTableLine td,
    .responsiveTableLine tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .responsiveTableLine thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .responsiveTableLine tr {
        border: 1px solid #ccc;
        border-radius: .25rem;
        margin-bottom: 1rem;
    }

    .responsiveTableLine td,
    .responsiveTableLine th {
        position: relative;
        border: 0px solid transparent;
        padding-left: 50% !important;
        white-space: normal;
        overflow: hidden;
        overflow-x: scroll;
        text-align: left;
    }

    .responsiveTableLine td:before,
    .responsiveTableLine th:before {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 46%;
        padding-right: 15px;
        height: 100%;
        white-space: nowrap;
        overflow: hidden;
        overflow-x: scroll;
        text-align: left;
        background-color: #f8f8f8;
        padding: 10px;
        font-weight: bold;
    }

}

@media all and (min-width: 340px) and (max-width: 1920px) and (min-resolution: 1dppx) {

    body {
        font-size: 1rem;
    }

    .buttonPrimaryAdminIndex,
    .buttonWarningAdminIndex,
    .buttonDangerAdminIndex {
        padding: .375rem .75rem;
        font-size: 1rem;
        border-radius: .25rem;
    }

}

@media only screen and (min-width: 540px) and (min-resolution: 1dppx) {

    nav#sidebarMenu {
        width: 25%;
    }

    main.mainAdminIndex {
        width: 75%;
    }
}

@media only screen and (min-width: 640px) and (min-resolution: 1dppx) {

    div.card.show>div.row.g-0>div.card-picture.col-xl-4>img {
        width: 50%;
        border-radius: .25rem;
    }

}

@media only screen and (min-width: 768px) and (min-resolution: 1dppx) {

    .card-picture {
        width: 40%;
    }

    div.card.show>div.row.g-0>div.card-picture.col-xl-4>img {
        width: 90%;
        border-radius: .25rem;
    }

    div.card-body-exchange-contact-buttons.col-xl-8 {
        width: 60%;
    }

}

/* Galaxy Note 9 : 414px-846px DPR=3.5 */
@media only screen and (min-width: 846px) and (min-resolution: 1dppx) {
    nav#sidebarMenu {
        display: block !important;
        position: fixed;
        padding: 48px 0 0;
        width: 25%;

        font-size: 0.95rem;
    }

    main.mainAdminIndex {
        width: 75%;
        margin-left: 25%;
    }
}

/* Iphone XR and Iphone XS : 414px-896px DPR=2 */
@media only screen and (min-width: 896px) and (min-resolution: 1dppx) {
    nav#sidebarMenu {
        font-size: 0.95rem;
    }
}

@media only screen and (min-width: 992px) and (min-resolution: 1dppx) {

    nav#sidebarMenu {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    main.mainAdminIndex {
        flex: 0 0 auto;
        width: 83.33333333%;
        margin-left: 16.66666667%;
    }

    nav#sidebarMenu {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 100;
        padding: 48px 0 0;
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    }

}

@media only screen and (min-width: 1280px) and (min-resolution: 1dppx) {

    .card-title {
        font-size: 1.5rem;
    }

    .card-header>a {
        font-size: 1.2rem;
    }

    div.card.show>div.row.g-0>div.card-picture.col-xl-4>img {
        width: 80%;
    }
}

@media only screen and (min-width: 1920px) and (min-resolution: 1dppx) {

    div.card.show>div.row.g-0>div.card-picture.col-xl-4>img {
        width: 70%;
    }

}

@media only screen and (min-width: 2160px) and (min-resolution: 1dppx) {

    body {
        font-size: 4rem;
    }

    .h1,
    h1 {
        font-size: 5rem;
    }

    .h2,
    h2 {
        font-size: 3.5rem;
    }

    .divAdminIndexDashboard {
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-left: 4rem;
        margin-bottom: 2rem;
        border-bottom: 3px solid #dee2e6;
    }

    .navbar-brand {
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 4rem;
        flex: 0 0 auto;
        width: 29%;
    }

    .navbar .form-control {
        padding: .75rem 1rem;
        border-width: 0;
        border-radius: 0;
        font-size: 3.75rem;
        width: 50%;
    }

    nav#sidebarMenu {
        padding: 120px 50px 0;
        width: 28%;
    }

    main.mainAdminIndex {
        flex: 0 0 auto;
        width: 72%;
        margin-left: 28%;
    }

    .buttonPrimaryAdminIndex,
    .buttonWarningAdminIndex,
    .buttonDangerAdminIndex {
        padding: .50rem 1rem;
        font-size: 3rem;
        border-radius: 0.6rem;
    }

    /* Enlarged image of the svg tag */
    a.buttonPrimaryAdminIndex>svg,
    a.buttonWarningAdminIndex>svg,
    a.buttonDangerAdminIndex>svg {
        width: 5.5rem;
        height: 5.5rem;
    }

    /* Test admin/book/show.html.twig */
    .card.show {
        border: 3px solid rgba(0, 0, 0, .125);
        border-radius: 0.5rem;
    }

    .card-title {
        font-size: 4.5rem;
    }

    .card-header>a {
        font-size: 4.2rem;
    }

    .card-picture {
        width: 100%;
    }

    .list-group-flush>.list-group-item {
        border: 3px solid rgba(0, 0, 0, .125);
        border-width: 0 0 3px;
    }

    li.list-group-item>img.locationIcon {
        width: 6rem;
        height: 6rem;
    }

    div.align-self-center {
        margin: 1rem;
    }

    a.btn.btn-outline-success.exchangeButton,
    a.btn.btn-outline-primary.m-2.modal-trigger {
        font-size: 4rem;
        border: 5px solid;
        border-radius: .5rem;
    }

    div.card-body-exchange-contact-buttons.col-xl-8 {
        width: 100%;
    }

}

@media only screen and (min-width: 3840px) and (min-resolution: 1dppx) {

    .navbar-brand {
        width: 16.66666667%;
    }

    .navbar .form-control {
        width: 100%;
    }

    nav#sidebarMenu {
        width: 16.66666667%;
    }

    main.mainAdminIndex {
        width: 83.33333333%;
        margin-left: 16.66666667%;
    }

}