@font-face {
    font-family: 'openSansRegular';
    src: local('openSansRegular'),
        local('Open Sans Regular'),
        local('open Sans Regular'),
        url('../fonts/OpenSans-Regular-webfont.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'MerriweatherRegular';
    src: local('MerriweatherRegular'),
        local('Merriweather Regular'),
        local('merriweather Regular'),
        url('../fonts/Merriweather-Regular-webfont.woff2') format('woff2'),
        url('../fonts/Merriweather-Regular-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoRegular';
    src: local('RobotoRegular'),
        local('Roboto Regular'),
        local('roboto Regular'),
        url('../fonts/Roboto-Regular-webfont.woff2') format('woff2'),
        url('../fonts/Roboto-Regular-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

html {
    font-size: 100%;
    font-family: 'openSansRegular', Arial, sans-serif, serif;
    font-weight: 400;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

.bg-gray97 {
    background-color: #F7F7F7;
}

ul {
    list-style-type: none;
}

/* templates/main/faq.html.twig */
dl>dd>ul {
    list-style-type: inherit;
}

/* templates/main/faq.html.twig */
dt,
dd {
    margin-top: 0.5rem;
}

div a {
    text-decoration: none;
}

a:focus {
    outline: 2px solid;
    outline-offset: .15em;
}

.aDivNavLogo {
    display: flex;
    align-items: center;
}

.imgLogo {
    width: 64px;
    height: 64px;
}

.brandNameExchange,
.brandNameBook {
    font-weight: bold;
}

.navbar-brand .brandNameExchange {
    display: flex;
    align-items: center;
    color: #0854A2;
    margin-left: 1%;
}

.brandNameBook {
    color: #CD4109;
    margin-left: 0.2%;
}

nav {
    display: flex;
    color: #F7F7F7;
    align-items: center;
}

/* Test code selectors css : Responsive Mobile */
body>main.container {
    display: flex;
    flex-direction: column;
}

main.container>aside {
    flex: 0 0 auto;
    width: 100%;
}

div.container>nav.page-navigation {
    display: flex;
    justify-content: center;
    align-items: inherit;
}

/* Test code selectors css : Responsive Mobile */
nav.nav.nav-underline {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.nav-underline .nav-link {
    color: #F7F7F7;
}

nav li {
    list-style-type: none;
}

nav ul li a,
.menu a {
    font-size: 1.55em;
}

li.nav-item>a.nav-link.nav-blue {
    color: rgb(8, 84, 162);
}

li.nav-item>a.nav-link.nav-blue:hover {
    color: rgb(3, 36, 69);
}

nav a:link {
    text-decoration: none;
}

ul.navbar-nav.me-auto.mb-2.mb-lg-0>li.nav-item {
    padding-left: 1rem;
    padding-right: 1rem;
}

div#navbarsExampleDefault.navbar-collapse.offcanvas-collapse.open>ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
    align-items: center;
}

.menu {
    display: flex;
    background-color: #CD4109;
    align-items: center;
    justify-content: center;
}

.menu ul {
    display: flex;
}

.menu a {
    color: #F7F7F7;
}

.menu a:link {
    text-decoration: none;
}

main {
    display: flex;
    background-color: #FFF;
    border-radius: 0.5rem;
}

main>aside {
    background-color: #F7F7F7;
    border: 0.8em solid #F7F7F7;
}

#search_form {
    background-color: #FFF;
    border-radius: 0.5rem;
    padding: 20px;
}

#search_form button {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #CD4109;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-color: #CD4109;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    width: 100%;
}

#search_form button:hover {
    color: #fff;
    background-color: #CD4109;
    border-color: #CD4109;
}

.informationAboutTheAccountTheLibraryTheExchanges {
    background-color: #FFF;
    padding: 1.5rem 1.5rem;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
}

.h2OfWelcomeOfPseudo {
    font-weight: bold;
}

.divAboutTheAccountTheLibraryTheExchanges {
    display: flex;
    flex-direction: column;
    padding-left: 0.65em;
}

.divAboutTheAccountTheLibraryTheExchanges>h3 {
    color: #0854A2;
}

.linkManageMyAccount {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.informationAboutTheAccountTheLibraryTheExchanges a {
    color: #000;
    text-decoration: none;
    padding-left: 0.65em;
    padding-bottom: 0.65em;
}

th,
td,
thead,
tbody>tr>th,
tbody>tr>td {
    text-align: center;
}

/* classes for validation form */
.valid {
    color: #0f5132;
}

.invalid {
    color: #842029;
}

#submitRegistrationFormButton {
    display: none;
}

.divUserProfile {
    margin: 1.5rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: .25rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

/* Test code selectors css : Responsive Mobile */
.h2IntroductoryContent {
    color: #000000;
    font-size: 1.3em;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* Wireframe 1- How It Works, templates/main/faq.html.twig, templates/main/state_of_book.html.twig */
.h2howItWorks,
.h2frequentlyAskedQuestions,
.h2stateOfBook {
    color: #0854A2;
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

/* Wireframe 2-3-4-5-6-7-8-9-10-12-13 */
.h2ConfirmAccountEmailAddress,
.h2ConnectedTotheAccount,
.h2ConnectedProfile,
.h3ConnectedUserBook,
.h2MyBooks,
.h2ConnectedBookStockBookAdditionForm,
.h3ConnectedBookStockBookAdditionForm,
.h2ConnectedBookStockBookStocked,
.h3ConnectedBookStockBookStocked,
.h2ConnectedBookExchangeClickOnTheBookExchangeLink,
.h2HowMakeExchange,
.h2MyExchangeWishes,
.h2MyExchangeRequests,
.h2ListOfBooks,
.h2ConnectedBookExchangeSearchForTheBookHarryPotter,
.h3ConnectedBookExchangeSearchForTheBookHarryPotter,
.h2ValidationConfirmExchange,
.h2ConfirmExchange,
.h2HomePageClickExchangeButtonOfTheBookButAreNotLoggedIn,
.h2ConnectedConnectedResetPasswordCheckEmail {
    font-family: 'RobotoRegular', 'openSansRegular', Arial, sans-serif, serif;
    font-weight: 700;
    color: #186135;
    background-color: #F7F7F7;
    padding: 10px 20px;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.h2ConfirmAccountEmailAddress,
.h2ConnectedTotheAccount,
.h2ConnectedProfile,
.h2MyBooks,
.h2ConnectedBookStockBookAdditionForm,
.h2ConnectedBookStockBookStocked,
.h2ConnectedBookExchangeClickOnTheBookExchangeLink,
.h2HowMakeExchange,
.h2MyExchangeWishes,
.h2MyExchangeRequests,
.h2ListOfBooks,
.h2ConnectedBookExchangeSearchForTheBookHarryPotter,
.h2ValidationConfirmExchange,
.h2ConfirmExchange,
.h2HomePageClickExchangeButtonOfTheBookButAreNotLoggedIn,
.h2ConnectedConnectedResetPasswordCheckEmail {
    border: 0.04em solid #186135;
}

/* Wireframe 3-4-5-6-7-8-9-10-12-13 */
.h2ConfirmAccountEmailAddress,
.h2ConnectedTotheAccount,
.h2ConnectedProfile,
.h2MyBooks,
.h2ConnectedBookStockBookAdditionForm,
.h2ConnectedBookStockBookStocked,
.h2ConnectedBookExchangeClickOnTheBookExchangeLink,
.h2HowMakeExchange,
.h2MyExchangeWishes,
.h2MyExchangeRequests,
.h2ListOfBooks,
.h2ConnectedBookExchangeSearchForTheBookHarryPotter,
.h2ValidationConfirmExchange,
.h2ConfirmExchange,
.h2HomePageClickExchangeButtonOfTheBookButAreNotLoggedIn,
.h2ConnectedConnectedResetPasswordCheckEmail {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.h3ConnectedUserBook,
.h3ConnectedBookStockBookAdditionForm,
.h3ConnectedBookStockBookStocked,
.h3ConnectedBookExchangeSearchForTheBookHarryPotter {
    padding: 10px 20px;
}

/* Test code selectors css : Responsive Mobile */
section.container.main-index>p.pIntroductoryContent {
    font-size: 0.83em;
    font-weight: bold;
    line-height: 1.6em;
    margin-left: 2%;
}

/* Wireframe 1- How It Works, templates/main/faq.html.twig, templates/main/state_of_book.html.twig */
.divParagraphsHowItWorks p,
.divParagraphsFrequentlyAskedQuestions p,
.divParagraphsFrequentlyAskedQuestions dl,
.divParagraphsFrequentlyAskedQuestions dd,
.divParagraphsStateOfBook p,
.divParagraphsStateOfBook dl,
.divParagraphsStateOfBook dd {
    font-family: 'MerriweatherRegular', 'openSansRegular', Arial, sans-serif, serif;
    color: #000;
    margin-left: 5%;
}

.divParagraphsFrequentlyAskedQuestions dd,
.divParagraphsStateOfBook dd {
    margin-right: 5%;
}

/* Test code selectors css : Responsive Mobile */
.h3InstructionsForUse {
    color: #CD4109;
    font-size: 1.1em;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

/* Test code selectors css : Responsive Mobile */
.instructionsForUse p {
    font-size: 1em;
    margin-left: 2%;
}

/* Wireframes 3-5-12-13-14 */
.divConfirmAccountEmailAddress,
.divConnectedTotheAccount,
.divValidationConfirmExchange,
.divConfirmExchange,
.divHomePageClickExchangeButtonOfTheBookButAreNotLoggedIn {
    margin: 0 auto;
    width: 75.5%;
    border: 0.1em solid #186135;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #F7F7F7;
    padding: 20px 40px;
}

/* Wireframe 12 */
.divValidationConfirmExchange {
    width: 60.5%;
    text-align: center;
}

/* Wireframe 14 */
.divHomePageClickExchangeButtonOfTheBookButAreNotLoggedIn {
    width: 64.5%;
}

/* Wireframe 6-8-9-10 */
.divEmptyLibrary,
.divConnectedBookStockBookStocked,
.divTheBooksIRequestedToExchange,
.divMyBooksRequestedForExchange,
.divConnectedBookExchangeSearchForTheBookHarryPotter,
.divConnectedResetPasswordCheckEmail {
    margin: 1.5rem auto;
    border-radius: 0.5rem;
    background-color: #0854A2;
    padding: 1rem;
}

.divConnectedResetPasswordCheckEmail {
    background-color: #F7F7F7;
}

.divEmptyLibrary,
.divConnectedResetPasswordCheckEmail {
    width: 63.8%;
}

.divConnectedBookStockBookStocked {
    width: 40.8%;
    padding: 2% 2%;
}

.divTheBooksIRequestedToExchange,
.divMyBooksRequestedForExchange,
.divConnectedBookExchangeSearchForTheBookHarryPotter {
    width: 52.8%;
}

/* Wireframes 3-5-6-7-8-9-10-11-12-13-14 */
.divConfirmAccountEmailAddress p,
.divConnectedTotheAccount p,
.divEmptyLibrary p,
.divConnectedBookStockBookStocked p,
.divTheBooksIRequestedToExchange p,
.divMyBooksRequestedForExchange p,
.divExchangeInstructions p,
.divConnectedBookExchangeSearchForTheBookHarryPotter p,
.divDisplayBlocksBookInformation p,
.divConnectedBookExchangeConfirmBookExchange p,
.divConfirmExchange p,
.divHomePageClickExchangeButtonOfTheBookButAreNotLoggedIn p {
    font-family: 'openSansRegular', Arial, sans-serif, serif;
    color: #000;
}

/* Wireframes 6-8-9-10 */
.divEmptyLibrary p,
.divConnectedBookStockBookStocked p,
.divTheBooksIRequestedToExchange p,
.divMyBooksRequestedForExchange p,
.divExchangeInstructions p,
.divConnectedBookExchangeSearchForTheBookHarryPotter p {
    color: #FFF;
}

.divTheBooksIRequestedToExchange p,
.divMyBooksRequestedForExchange p {
    margin: .5rem auto;
}

/* Wireframe 3 */
.paragraphOfTheEmailDisplay {
    text-align: center;
    font-weight: bold;
}

/* Wireframe 5 */
.welcomeMessageParagraph {
    font-weight: bold;
}

/* Test code selectors css : Responsive Mobile */
.imageForTheInstructionManualBlock {
    width: 100%;
    height: 288.2px;
}

/* Test code selectors css : Responsive Mobile */
.linkOnHowTheWebsiteWorks {
    display: inline-block;
    color: #000000;
    text-decoration: underline;
    margin-bottom: 1rem;
}

/* Test code selectors css : Responsive Mobile */
.h2TitleSelectionOfBooks {
    text-align: center;
    background-color: #F7F7F7;
    border-radius: 0.5rem;
    padding: 10px 20px;
}

/* Test code selectors css : Responsive Mobile */
div#content.row.blockCard>div.card {
    flex: 0 0 auto;
    width: 80%;
}

.divDisplayBlocksBookInformation,
.divDisplayBlockOfStoredBookInformation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 4%;
    margin-bottom: 2%;
}

/* block of books */
.blockOfTheBookInformation,
.blockOfStoredBookInformation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 36%;
    border: 0.2em solid #196216;
    border-radius: 0.5em;
    border-color: #196216;
    padding: 2.51%;
    margin-bottom: 2%;
}

.blockOfTheBookInformation h4,
.blockOfStoredBookInformation h4 {
    width: 95%;
    margin-top: 0;
    margin-bottom: 4.4%;
    overflow: hidden;
    font-size: 1.3em;
    line-height: 1.08em;
}

.blockOfTheBookInformation h4,
div.line.author>a,
.blockOfStoredBookInformation h4,
div.line.author>a {
    color: #000;
}

div.line.author>a,
div.line.location>span,
div.line.author>a,
section.blockOfStoredBookInformation>p.line.state {
    font-size: 1.2em;
}

section.blockOfStoredBookInformation>p.line.category {
    font-size: 1.17em;
}

div.line.location,
.divExchangeButton,
section.blockOfStoredBookInformation>p.line.category,
section.blockOfStoredBookInformation>p.line.publisher,
section.blockOfStoredBookInformation>p.line.language,
section.blockOfStoredBookInformation>p.line.format,
section.blockOfStoredBookInformation>p.line.state,
.divRemoveFromBookStockButton {
    margin-top: 4.4%;
    margin-bottom: 4.4%;
}

.blockOfTheBookInformation h4,
div.line.author>a,
div.line.location>span,
.blockOfStoredBookInformation h4,
div.line.author>a,
section.blockOfStoredBookInformation>p.line.state,
.divConnectedBookExchangeConfirmBookExchange span,
.divConfirmExchange span,
.divHomePageClickExchangeButtonOfTheBookButAreNotLoggedIn span {
    font-weight: bold;
}

.locationIcon {
    width: 2rem;
    height: 2rem;
}

/* templates/book/_content.html.twig */
.btn-outline-success.exchangeButton {
    color: #196216;
    border-color: #196216;
}

.btn-outline-success.exchangeButton:hover {
    color: #fff;
    background-color: #196216;
    border-color: #196216;
}

/* templates/book/validation_confirm_exchange.html.twig and templates/book/my_books.html.twig */
.divButtonConfirmTheExchange,
.divButtonConnectedBookMyBooks {
    display: flex;
    justify-content: center;
}

/* templates/book/validation_confirm_exchange.html.twig */
a.btn-success.buttonConfirmTheExchange {
    font-family: 'openSansRegular';
    color: #fff;
    background-color: #196216;
    border-color: #196216;
}

a.btn-success.buttonConfirmTheExchange:hover {
    color: #fff;
    background-color: #186135;
    border-color: #15572F;
}

.divExchangeInstructions {
    display: flex;
    flex-direction: column;
    margin: 1.5rem auto;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    background-color: #186135;
}

.paragraphsCenterOfTheDivHomePageClickExchangeButtonOfTheBookButAreNotLoggedIn {
    text-align: center;
}

.paragraphsCenterOfTheDivHomePageClickExchangeButtonOfTheBookButAreNotLoggedIn,
.paragraphBeforeTheCreateMyAccountButton {
    margin-bottom: 8%;
}

.paragraphDisplayingInformationBookRequestedExchange {
    text-align: left;
}

div.col-12.divButtonsEdit {
    display: flex;
    padding-bottom: 1.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

div#content.row.blockCard {
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

/* Styles css Bootstrap */
.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}

.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

/* classes for validation form */
.valid {
    color: #0f5132;
}

.invalid {
    color: #842029;
}

/* Style CSS For Validation FORM BOOTSTRAP */
#formContainer {
    background-color: #fff;
    font-family: sans-serif, 'openSansRegular';
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
    padding: 0;
    height: min-content;
    margin: 2.5rem auto;
}

div.form-control {
    border: none;
}

div.form-control:disabled,
div.form-control:read-only {
    background-color: inherit;
    opacity: 1;
}

.divAlert.col-12 {
    margin-top: 2.5rem;
}

.formHeader {
    border-bottom: 1px solid #f0f0f0;
    background-color: #f7f7f7;
    padding: 20px 40px;
    text-align: center;
}

.formHeader h2 {
    margin: 0;
    color: #186135;
    font-weight: 700;
}

/* Put the form id with #formContainer */
#registration_form,
#login_form,
#update_profile_form,
#update_email_form,
#update_password_form,
#reset_password_request_form,
#reset_password_form,
#add_book_form {
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control input,
.form-control select,
.form-control textarea {
    border: 2px solid #f0f0f0;
    border-radius: 0.25rem;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-control:focus,
.form-control input:focus,
div.form-control:focus,
div.form-control>input#inputEmail.form-control:focus,
div.form-control>input#inputPassword.form-control:focus {
    color: #212529;
    background-color: #fff;
    outline: 2px solid;
    outline-offset: .15em;
    box-shadow: 0 0 0 .25rem rgba(119, 119, 119, .25);
}

.btn-check:focus+.btn-success,
.btn-success:focus {
    outline: 2px solid;
    outline-offset: .15em;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control i {
    visibility: hidden;
    position: absolute;
    top: 45px;
    right: -15px;
}

.form-control.success i.bi-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.bi-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.form-control small {
    color: #e74c3c;
    position: relative;
    bottom: 0;
    left: 0;
    display: initial;
}

.form-control.error small {
    display: initial;
}

.form-control.success small {
    display: none;
}

/* For the 'Valider' button of templates/book/add.html.twig */
.form button {
    background-color: #004B9B;
    border: 2px solid #004B9B;
    border-radius: 0.25rem;
    color: #fff;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}

.form button:hover {
    background-color: #003c7c;
    border-color: #003063;
}

.form button:active {
    background-color: #0a58ca;
    border-color: #0a53be;
}

.form button.btn.btn-success.btn-lg {
    background-color: #186135;
    border: 2px solid #186135;
    border-radius: 0.25rem;
    color: #fff;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}

#update_profile_form_validate,
#update_email_form_validate,
#update_password_form_validate,
#reset_password_request_form_validate,
#book_form_validate {
    background-color: #186135;
    border: 2px solid #186135;
    border-radius: 0.25rem;
    color: #fff;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}

.formFooter {
    border-top: 1px solid #f0f0f0;
    background-color: #f7f7f7;
    padding: 20px 40px;
    text-align: center;
}

/* Test temporary templates main/search_book_test.html.twig */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 1.5rem;
}

/* Template book/show.html.twig */
.card.show {
    margin: 2rem;
}

.card-picture {
    display: flex;
    align-items: center;
    justify-content: center;
}

h5.card-title,
h5.card-title a,
div.card-header a,
.stateBook,
.locationBook,
.ownerBook {
    font-weight: bold;
    color: #000;
}

.divButtonExchangeCenter,
.divButtonsFlexCenter {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.divButtonsFlexCenter {
    flex-direction: column;
}

div.card-body {
    padding-bottom: 0;
}

.page-navigation {
    display: grid;
    justify-content: center;
}

/* Test code selectors css : Responsive Mobile */
nav.page-navigation>ul.pagination>li.page-item>a.page-link {
    padding: .25rem .35rem;
    font-size: .875rem;
}

/* @media only screen and (min-width: 200px) and (max-width: 767px) */
/* @media only screen and (min-width: 200px) and (max-width: 1024px) */
@media only screen and (min-width: 200px) and (max-width: 767px) {

    /* Test Table responsive */
    .responsive-table-line td:before,
    .responsive-table-line th:before {
        content: attr(data-label);
    }

    /* Force table to not be like tables anymore */
    .responsive-table-line table,
    .responsive-table-line thead,
    .responsive-table-line tbody,
    .responsive-table-line th,
    .responsive-table-line td,
    .responsive-table-line tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .responsive-table-line thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .responsive-table-line tr {
        border: 1px solid #ccc;
        border-radius: .25rem;
        margin-bottom: 1rem;
    }

    .responsive-table-line td,
    .responsive-table-line th {
        position: relative;
        border: 0px solid transparent;
        padding-left: 50% !important;
        white-space: normal;
        text-align: left;
    }

    .responsive-table-line td:before,
    .responsive-table-line th:before {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 45%;
        padding-right: 15px;
        height: 100%;
        white-space: nowrap;
        text-overflow: ellipsis !important;
        overflow: hidden !important;
        text-align: left;
        background-color: #f8f8f8;
        padding: 10px;
        font-weight: bold;
    }

    /* template search_books_test.html.twig */
    main.container>div.container {
        display: flex;
        flex-direction: column;
        flex: 0 0 auto;
        width: 100%;
        margin-top: 1.5rem;
    }
}

@media only screen and (min-width: 767px) and (max-width: 1024px) {

    /* Test Table responsive */
    .responsive-table-line td:before,
    .responsive-table-line th:before {
        content: attr(data-label);
    }

    /* Force table to not be like tables anymore */
    .responsive-table-line table,
    .responsive-table-line thead,
    .responsive-table-line tbody,
    .responsive-table-line th,
    .responsive-table-line td,
    .responsive-table-line tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .responsive-table-line thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .responsive-table-line tr {
        border: 1px solid #ccc;
        border-radius: .25rem;
        margin-bottom: 1rem;
    }

    .responsive-table-line td,
    .responsive-table-line th {
        position: relative;
        border: 0px solid transparent;
        padding-left: 50% !important;
        white-space: normal;
        text-align: left;
    }

    .responsive-table-line td:before,
    .responsive-table-line th:before {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 45%;
        padding-right: 15px;
        height: 100%;
        white-space: nowrap;
        text-overflow: ellipsis !important;
        overflow: hidden !important;
        text-align: left;
        background-color: #f8f8f8;
        padding: 10px;
        font-weight: bold;
    }

    /* template book/index.html.twig */
    body>main.container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    main.container>aside {
        flex: 0 0 auto;
        width: 30%;
    }

    .h2OfWelcomeOfPseudo {
        font-weight: bold;
        font-size: calc(1.225rem);
    }

    main.container>section.container.main-index,
    main.container>section.container.list-of-books,
    main.container>section.container.how-make-exchange {
        display: flex;
        flex-direction: column;
        width: 65%;
    }

    /* template search_books_test.html.twig */
    main.container>div.container {
        display: flex;
        flex-direction: row;
        flex: 0 0 auto;
        width: 100%;
        margin-top: 1.5rem;
    }

    .divfiltersOfCategories {
        margin-right: 2rem;
    }

}

/* support for screen sizes larger than mobile */
/*@media (min-width: 991.98px) { */
@media (min-width: 1025px) {
    body>main.container {
        display: flex;
        flex-direction: row;
    }

    main.container>aside {
        flex: 0 0 auto;
        width: 25%;
    }

    nav.nav.nav-underline {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .nav-underline .nav-link {
        padding-top: .75rem;
        padding-bottom: .75rem;
        font-size: 1.55em;
        color: #F7F7F7;
    }

    .h2IntroductoryContent {
        color: #000000;
        font-size: 1.48em;
        margin-left: 11.3%;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }

    section.container.main-index>p.pIntroductoryContent {
        font-size: 0.83em;
        font-weight: bold;
        line-height: 1.6em;
        margin-left: 12.4%;
        width: 83%;
    }

    .h3InstructionsForUse {
        color: #CD4109;
        font-size: 1.41em;
        width: 48%;
        margin-left: 18.8%;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
    }

    .instructionsForUse p {
        font-size: 1.1em;
        width: 77.5%;
        margin-left: 19.2%;
    }

    .imageForTheInstructionManualBlock {
        width: 70.4%;
        height: 288.2px;
        margin-left: 18.8%;
    }

    .linkOnHowTheWebsiteWorks {
        width: 57.2%;
        margin-left: 23.8%;
        margin-top: 1rem;
    }

    .sectionOfBookSelection .h2TitleSelectionOfBooks {
        margin-left: 5.3%;
    }

    .h2TitleSelectionOfBooks {
        width: 90%;
    }

    .h2OfWelcomeOfPseudo {
        font-size: calc(1.325rem + .5vw);
    }

    /* Wireframe 2-3-4-5-6-7-8-9-10-12-13 */
    .h2ConfirmAccountEmailAddress,
    .h2ConnectedTotheAccount,
    .h2ConnectedProfile,
    .h3ConnectedUserBook,
    .h2MyBooks,
    .h2ConnectedBookStockBookAdditionForm,
    .h3ConnectedBookStockBookAdditionForm,
    .h2ConnectedBookStockBookStocked,
    .h3ConnectedBookStockBookStocked,
    .h2ConnectedBookExchangeClickOnTheBookExchangeLink,
    .h2HowMakeExchange,
    .h2MyExchangeWishes,
    .h2MyExchangeRequests,
    .h2ListOfBooks,
    .h2ConnectedBookExchangeSearchForTheBookHarryPotter,
    .h3ConnectedBookExchangeSearchForTheBookHarryPotter,
    .h2ValidationConfirmExchange,
    .h2ConfirmExchange,
    .h2HomePageClickExchangeButtonOfTheBookButAreNotLoggedIn,
    .h2ConnectedConnectedResetPasswordCheckEmail {
        width: 72.5%;
        margin-left: 5rem;
        padding: 20px 40px;
    }

    /* Wireframe 3-4-5-6-7-8-9-10-12-13 */
    .h2ConfirmAccountEmailAddress,
    .h2ConnectedTotheAccount,
    .h2ConnectedProfile,
    .h2MyBooks,
    .h2ConnectedBookStockBookAdditionForm,
    .h2ConnectedBookStockBookStocked,
    .h2ConnectedBookExchangeClickOnTheBookExchangeLink,
    .h2HowMakeExchange,
    .h2MyExchangeWishes,
    .h2MyExchangeRequests,
    .h2ListOfBooks,
    .h2ConnectedBookExchangeSearchForTheBookHarryPotter,
    .h2ValidationConfirmExchange,
    .h2ConfirmExchange,
    .h2HomePageClickExchangeButtonOfTheBookButAreNotLoggedIn,
    .h2ConnectedConnectedResetPasswordCheckEmail {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }

    div#content.row.blockCard>div.card {
        flex: 0 0 auto;
        width: 41.6666666667%;
    }

    .table {
        margin: 1rem;
    }

    nav.page-navigation>ul.pagination>li.page-item>a.page-link {
        padding: .375rem .75rem;
        font-size: 1.55em;
    }

}