@font-face {
    font-family: 'openSansRegular';
    src: local('openSansRegular'),
        local('Open Sans Regular'),
        local('open Sans Regular'),
        url('../fonts/OpenSans-Regular-webfont.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
html {
    font-size: 100%;
    font-family: 'openSansRegular', Arial, sans-serif, serif;
    font-weight: 400;
    color: #2c2e2f;
    box-sizing: border-box;
  }
*, *::before, *::after {
    box-sizing: inherit;
}
html, body {
    margin:0;
    padding:0;
}

header {
    position: relative;
}

ul {
    list-style-type: none;
}


div a {
    text-decoration:none;
}

.divNavLogo {
    margin-left: 400px;           /* 400px/1920px=0.208 => 20.8% */
    margin-top: 17px;
    margin-right: 20px;
    margin-bottom: 20px;          /* 20px/100px= 0.20 => 20% */
}

.imgLogo {
    width: 65px;
    height: 65px;
}

/* Dimensions Bloc titre marque width: 336.1px; height: 42.7px; */
.brandName, .brandName2 {
    font-size: 33px; /* 4rem 48pt 64px */
    font-weight: bold;
}

.brandName {
    color: #0854A2;
    margin-left: 3px;
    margin-top: 25px;
}

.brandName2 {
    color: #CD4109;
    margin-left: 7px;
    margin-top: 25px;
    margin-right: 160px;
}

nav {
    display: flex;
    width: 100%;                    /* 100%  , 1920px */
    height: 100px;                 /* 100px/1080px => 0.09259 = 9.25% */
    color: #F7F7F7;
}

nav ul {
    display: flex;
    margin-top: 30px;
}

nav li {
	list-style-type: none; 		/* Aucun marqueur n'est affiché. */
}
nav ul li a {
    font-size: 25.1px;          /* 25.1px => width 220px  */
}
nav a {
    color: #0854A2;
}

nav a:link {
	text-decoration:none; 		/* enlever le surlignement des a */
}

/* maquette width:311px => 35.5px */
.linkCreateAccount {
    margin-right: 100px;
}

/* maquette width:225px => font size 35.3px */
.linkConnectMe {
    left: 1500px;
}

.menu{
    display: flex;
    background-color: #CD4109;
    justify-content: center;
    height: 60px;           /* 60px/1080px= 0.05555 => 5.55%  */
    width: 100%;            /* 1920px 100% or 
    width: 1100px;            Update wireframe for begin 400px to 1500px ?
    margin-left: 400px; */
}

.menu ul {
    display: flex;
}

.liHowItWorks {
    padding-right: 60px;
}

.menu a {
    color: #F7F7F7;
    font-size: 25px;                    /* 25.4pt sur la maquette */
}
.menu a:link {
	text-decoration:none; 		        /* enlever le surlignement des a */
}


/* search part */

main {
    display: flex;
    background-color: #F7F7F7;
    width: 15%;                      /* wireframe 290px/1920px=0.1510 */
}

.asideSearchBar {
    background-color: #FFFFFF;
    border: 2px solid #F7F7F7;
}


form {
    color: #FFFFFF;

    border-color: #F7F7F7;
    border-width: 2pt;

    padding-top: 56px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;

}
/* input search */
.searchInput {
    /*margin-top: 57px;      /* margin-top 57px ou padding top 56px de form ? */
    margin-bottom: 10px;
    width: 250px;
    border-color: #CD4109;
    border-width: 2.3pt;
    border-radius: 2%;
}

/* 250px dimensions bouton rechercher */
.searchButton {
    width: 250px;
    height: 40px;
    color: #F7F7F7;
    background-color: #CD4109;
    border-color: #A02804;
    border-width: 0.7pt;
    font-size: 24pt;
}

/* part content */

section {
    width: 800px;           /*  800px/1920px= 0.4166 => 41.66% */
    height: 920px;          /* 1080px-160px= 920px => 920px/1080px=0.85185 => 85.19% */
}

.introductoryContent {
    width: 740px;
}

main div h2 {
    color: #000000;
    font-size: 21px;                /* on wireframes  Update value of 23pt => width => 680px  | begin 800px, 1480px end => 680px */
    margin-left: 100px;             /* wireframe search bar end : 700px to 800px begin */
    margin-bottom: 20px;
}

div.introductoryContent>p {
    font-size: 13.4px;              /* 13.5pt =>  width 663px | begin:810px, 1473px:end  => 663px */
    font-weight: bold;
    line-height: 20px;
    margin-left: 110px;             /* wireframe search bar end : 700px to 810px begin */
    width: 663px;
}

main div h3 {
    color: #CD4109;
    font-size: 22.6px;
    width: 384px;
    margin-left: 150px;             /* wireframe search bar end : 700px to 850px begin */ 
    margin-bottom: 29px;
}

.divInstructionsForUse p {
    font-size: 16.15px;
    width: 528px;
    line-height: 20px;
    margin-left: 170px;             /* wireframe search bar end : 700px to 870px begin */ 
}

.linkOnHowTheWebsiteWorks {
    display: inline-block;
    color: #000000;
    text-decoration: underline;
    width: 457px;
    margin-left: 190px;             /* wireframe search bar end : 700px to 890px begin */ 
    margin-top: 20px;
    /* 457px */
}


/* Part of <h2>Une sélection de livres disponibles à l'échange</h2> */
/* TO DELELTE  THE DIV
.divTitleSelectionOfBooks {
    width: 700px;
    height: 40px;
    background-color: #F7F7F7;
    color: #000000;
}
*/

.divTitleSelectionOfBooks h2 {
    /* wireframe search bar end : 700px to 800px begin */
    margin-left: 100px;
    padding-left: 23px;
    width: 700px;
    background-color: #F7F7F7;
    color: #000000;
}

/* imageForTheInstructionManualBlock */
.imageForTheInstructionManualBlock {
    width: 562.9px;
    height: 288.2px;
    margin-left: 150px;             /* wireframe search bar end : 700px to 850px begin */ 
}

/* child container dimensions 
Width 201px Height 280px */

/* Book Part */

.childContainer {
    width: 25%;            /* wireframe 200px   */
    height: 25%;              /* wireframe 280px/1080=   */
    border: 3.73px solid #196216;
    border-radius: 0.5em;
    border-color: #196216;
    padding: 20px;
}

.childContainer h4 {
    width: 201px;       /* 160*/
    overflow: hidden;
    font-size: 18.66px;    /* 14pt  => 18.66px */
    font-weight: bold;
    color: #000000;
    line-height: 1.26rem;  /* 10pt mais trop court en version html css */

}

div.line.author > a {
    font-size: 12pt;
    font-weight: bold;
    color: #000000;
}

div.childContainer > p.line.category {
    font-size: 10.5pt;

}


div.childContainer > p.line.state, div.childContainer > p.line.owner {
    font-size: 16px;
    font-weight: bold;
}

.locationIcon {
    width: 14.6px; 
    height: 22.7px;
}

div.line.location > span {
    font-size: 16px;
    font-weight: bold;
}

.exchangeButton {
    width: 75px;
    height: 21.6px;
    font-size: 11.3pt;
    color: #FFFFFF;
    background-color: #196216;
    border-radius: 11px;
    padding: 11px;
}
