@font-face {
    font-family: 'openSansRegular';
    src: local('openSansRegular'),
        local('Open Sans Regular'),
        local('open Sans Regular'),
        url('../fonts/OpenSans-Regular-webfont.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
html {
    font-size: 100%;
    font-family: 'openSansRegular', Arial, sans-serif, serif;
    font-weight: 400;
    color: #2c2e2f;
    box-sizing: border-box;
  }
*, *::before, *::after {
    box-sizing: inherit;
}
html, body {
    margin:0;
    padding:0;
}

header {
    position: relative;
}

header nav div img {/*
    width: 47.3px;
    height: 42.7px;*/
    width: 94.6px;
    height: 85.4px;
}

ul {
    list-style-type: none;
}


div a {
    text-decoration:none;
}
/*
.divNavLogo {
    position: absolute;
    left: 400px;
}
*/
.divNavLogo img {
    margin: 20px;
}

/* Dimensions Bloc titre marque width: 336.1px; height: 42.7px; */
.brandName, .brandName2 {
    position: absolute;
    font-size: 33px; /* 4rem 48pt 64px */
    font-weight: bold;
}

.brandName {
    left: 490px;            /* 490px/1920 =25.52% */
    color: #0854A2;
}

.brandName2 {
    left: 689px;
    color: #CD4109;
}

nav {
    display: flex;
    width: 100%;  /* 100%  , 1920px */
    height: 98.5px; /* 98.5px/1080px =>  */
    color: #F7F7F7;
}

nav ul {
    display: flex;
    position: absolute;
    left: 1100px;
}

nav li {
	list-style-type: none; 		/* Aucun marqueur n'est affiché. */
}
nav ul li a {
    font-size: 35.5px; /* 36pt 48px */
}
nav a {
    color: #0854A2;
}

nav a:link {
	text-decoration:none; 		/* enlever le surlignement des a */
}

/* maquette width:311px => 35.5px */
.linkCreateAccount {
    position: static;
    left: 1412px;
}

/* maquette width:225px => font size 35.3px */
.linkConnectMe {
    position: static;   
    left: 1500px;
}

.menu{
    display: flex;
    background-color: #CD4109;
    justify-content: center;
}

.menu ul {
    display: flex;
}

.liHowItWorks {
    padding-right: 60px;
}

.menu a {
    color: #F7F7F7;
    font-size: 25.4pt;          /* 25.4pt sur la maquette */
}
.menu a:link {
	text-decoration:none; 		/* enlever le surlignement des a */
}


/* Partie recherche */

form {
    color: #FFFFFF;

    border-color: #F7F7F7;
    border-width: 2pt;

    padding-top: 56px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;

}
/* input search */
.searchInput {
    /*margin-top: 57px;   /* margin-top 57px ou padding top 56px de form ? */
    margin-bottom: 10px;
    width: 250px;
    border-color: #CD4109;
    border-width: 2.3pt;
    border-radius: 2%;
}

/* 250px dimensions bouton rechercher */
.searchButton {
    width: 250px;
    height: 40px;
    color: #F7F7F7;
    background-color: #CD4109;
    border-color: #A02804;
    border-width: 0.7pt;
    font-size: 24pt;
}

/* part content */

.introductoryContent {
    width: 740px;
}

main div h2 {
    color: #000000;
    font-size: 24px;    /* on wireframes  value of 25pt => 33px */
}

div.introductoryContent>p {
    font-size: 14.6px;    /* 14pt => 18.6px */
    font-weight: bold;
}
/*
main div h2 p {
    font-size: 18.6px;
}*/

main div h3 {
    color: #CD4109;
    font-size: 24pt;
}

main div h3 p {
    font-size: 17pt;
}

.linkOnHowTheWebsiteWorks {
    color: #000000;
    text-decoration: underline;
}


/* Part of <h2>Une sélection de livres disponibles à l'échange</h2> */
.divTitleSelectionOfBooks {
    width: 700px;
    height: 40px;
    background-color: #F7F7F7;
    color: #000000;
}

/* imageForTheInstructionManualBlock */
.imageForTheInstructionManualBlock {
    width: 562.9px;
    height: 288.2px;
}

/* child container dimensions 
Width 201px Height 280px */

/* Book Part */

.childContainer {
    width: 25%;            /* wireframe 200px   */
    height: 25%;              /* wireframe 280px/1080=   */
    border: 3.73px solid #196216;
    border-radius: 0.5em;
    border-color: #196216;
    padding: 20px;
}

.childContainer h4 {
    width: 201px;       /* 160*/
    overflow: hidden;
    font-size: 18.66px;    /* 14pt  => 18.66px */
    font-weight: bold;
    color: #000000;
    line-height: 1.26rem;  /* 10pt mais trop court en version html css */

}

div.line.author > a {
    font-size: 12pt;
    font-weight: bold;
    color: #000000;
}

div.childContainer > p.line.category {
    font-size: 10.5pt;

}


div.childContainer > p.line.state, div.childContainer > p.line.owner {
    font-size: 16px;
    font-weight: bold;
}

.locationIcon {
    width: 14.6px; 
    height: 22.7px;
}

div.line.location > span {
    font-size: 16px;
    font-weight: bold;
}

.exchangeButton {
    width: 75px;
    height: 21.6px;
    font-size: 11.3pt;
    color: #FFFFFF;
    background-color: #196216;
    border-radius: 11px;
    padding: 11px;
}
