@font-face {
    font-family: 'openSansRegular';
    src: local('openSansRegular'),
        local('Open Sans Regular'),
        local('open Sans Regular'),
        url('../fonts/OpenSans-Regular-webfont.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
html {
    font-size: 100%;
    font-family: 'openSansRegular', Arial, sans-serif, serif;
    font-weight: 400;
    color: #2c2e2f;
    box-sizing: border-box;
  }
*, *::before, *::after {
    box-sizing: border-box;
}
html, body {
    margin:0;
    padding:0;
}

ul {
    list-style-type: none;
}


div a {
    text-decoration:none;
}

.divNavLogo {
    margin-left: 21%;
}

.imgLogo {
    width: 65px;
    height: 65px;
}

.brandName, .brandName2 {
    font-size: 2em;
    font-weight: bold;
}
.brandName {
    color: #0854A2;
    margin-left: 1%;
}
.brandName2 {
    color: #CD4109;
    margin-left: 0.2%;
    margin-right: 8.3%;
}

nav {
    display: flex;
    color: #F7F7F7;
    align-items: center;
}

nav ul {
    display: flex;
    padding-left: 0%;
}

nav li {
	list-style-type: none; 		/* Aucun marqueur n'est affiché. */
}
nav ul li a, .menu a {
    font-size: 1.55em;
}
nav a {
    color: #0854A2;
}

nav a:link {
	text-decoration:none; 		/* enlever le surlignement des a */
}

.linkCreateAccount {
    margin-right: 4em;    /* 100px => 4em */
}

.menu{
    display: flex;
    background-color: #CD4109;
    align-items: center;
    justify-content: center;
}

.menu ul {
    display: flex;
}

.liHowItWorks {
    padding-right: 4em;
}

.menu a {
    color: #F7F7F7;
}
.menu a:link {
	text-decoration:none; 		        /* enlever le surlignement des a */
}

main {
    display: flex;
    background-color: #FFF;             
}

.asideSearchBar {
    display: flex;
    justify-content: center;
    background-color: #FFF;
    /*width: 16%;    */                          /* put in comment to solve the overflow problem */
    border: 0.8em solid #F7F7F7;
    margin-left: 20%;
}

form {
    padding-top: 20%;
    padding-left: 7.1%;
    padding-right: 7.1%;
    padding-bottom: 11%;

}

.searchInput {
    width: 100%;
    height: 2.7em;
    margin-bottom: 5%;
    border: 0.3em solid #CD4109;
    border-radius: 0.5em;
}

.searchButton {
    width: 100%;
    color: #F7F7F7;
    background-color: #CD4109;
    border-color: #A02804;
    font-size: 1.7em;
    padding: 3% 0;
}

/* part content */

.contentBlockSection {
    width: 42%;                                     /*  800px/1920px= 0.4166 => 41.66% */
}

main section h2 {
    color: #000000;
    font-size: 1.48em;              /* 1.32em  1.41em 1.48em*/
    margin-left: 11.3%;             /* 100px */
    margin-bottom: 2.3%;            /* 20px */
}

section.introductoryContent>p {
    font-size: 0.83em;              /* 13.4px */
    font-weight: bold;
    line-height: 1.6em;
    margin-left: 12.4%;             /* 110px */
    width: 83%;                     /* 663px */
}

main section h3 {
    color: #CD4109;
    font-size: 1.41em;              /* 1.41em  1.32em */
    width: 48%;                     /* 384px */
    margin-left: 18.8%;             /* 150px */
    margin-bottom: 3.7%;            /* 29px */
}

.instructionsForUse p {
    font-size: 1.1em;               /* 17.6px */
    width: 77.5%;                   /* 619px */
    margin-left: 19.2%;             /* 170px; */
}

.linkOnHowTheWebsiteWorks {
    display: inline-block;
    color: #000000;
    text-decoration: underline;
    width: 57.2%;                   /* 457px */
    margin-left: 23.8%;             /* 190px */ 
    margin-top: 2.5%;               /* 20px */
}

.h2TitleSelectionOfBooks {
    width: 90%;                     /* before 85% */
    text-align: center;
    background-color: #F7F7F7;
}

.container .h2TitleSelectionOfBooks {
    margin-left: 5.3%;
}

.divDisplayBlocksBookInformation {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
}

.imageForTheInstructionManualBlock {
    width: 70.4%;                           /* 562.9px */
    height: 288.2px;
    margin-left: 18.8%;                     /* 150px */ 
}

/* block of books */
.blockOfTheBookInformation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 36%;                                     /* 35%  */
    border: 0.2em solid #196216;                  /* 3.73px */
    border-radius: 0.5em;
    border-color: #196216;
    padding: 2.51%;                                 /* 20px */
}

.blockOfTheBookInformation h4 {
    width: 95%;                                     /* 201px */ /* 86% */
    margin-top: 0;
    margin-bottom: 4.4%;
    overflow: hidden;
    font-size: 1.3em;                               /* 18.66px */ /* 1.16em */
    line-height: 1.08em;                            /* 20 px */
}

.blockOfTheBookInformation h4 ,div.line.author > a {
    color: #000000;
}

div.line.author > a ,section.blockOfTheBookInformation > p.line.state, div.line.location > span ,section.blockOfTheBookInformation > p.line.owner {
    font-size: 1.2em;
}

section.blockOfTheBookInformation > p.line.category {
    font-size: 1.17em;
}

section.blockOfTheBookInformation > p.line.category, section.blockOfTheBookInformation > p.line.publisher, section.blockOfTheBookInformation > p.line.language,
 section.blockOfTheBookInformation > p.line.format,  section.blockOfTheBookInformation > p.line.state, div.line.location, section.blockOfTheBookInformation > p.line.owner, .divExchangeButton {
    margin-top: 4.4%;
	margin-bottom: 4.4%;
}

.blockOfTheBookInformation h4, div.line.author > a ,section.blockOfTheBookInformation > p.line.state, section.blockOfTheBookInformation > p.line.owner, div.line.location > span {
    font-weight: bold;
}

.locationIcon {
    width: 3em;                                      /* 14.6px */
    height: 3em;                                     /* 22.7px */
}

.divExchangeButton {
    align-self: center;
}

.exchangeButton {
    font-size: 1.1em;
    color: #FFFFFF;
    background-color: #196216;
    border-radius: 0.5em;
    padding: 0.5em 1em;
}
